@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.hodden {
  position: absolute;
  top: -99999px;
  opacity: 0;
}

.wrap::after {
  content: "";
  display: block;
  clear: both;
}

#header_sub {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}
#header_sub .inner {
  width: 1180px;
  height: 100px;
  margin: 0 auto;
  position: relative;
}
#header_sub .inner > h1 {
  position: absolute;
  left: 0;
  bottom: -4px;
  letter-spacing: 1px;
}
#header_sub .inner > h1 > a {
  font-size: 26px;
  font-weight: 600;
  color: #fff;
}
#header_sub .inner .menuWeb #gnb {
  position: absolute;
  right: 0;
  bottom: 0;
}
#header_sub .inner .menuWeb #gnb li {
  float: left;
}
#header_sub .inner .menuWeb #gnb li a {
  display: block;
  padding: 12px 18px;
  font-size: 13px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8);
}
#header_sub .inner .menuWeb #gnb li a:hover {
  color: rgb(2, 126, 196);
  font-weight: 700;
  transform: scale(1.1);
}
#header_sub .inner .btnCall {
  position: absolute;
  right: 30px;
  top: 72px;
  transform: translateY(-50%);
  display: none;
  width: 20px;
  height: 20px;
}
#header_sub .inner .btnCall::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transition: top 0.5s 0s, transform 0.5s 0.5s;
}
#header_sub .inner .btnCall::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: bottom 0.5s 0s, transform 0.5s 0.5s;
}
#header_sub .inner .btnCall span {
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1px;
  transition: 1s;
  text-indent: -9999px;
}
#header_sub .inner .btnCall.on::before {
  top: 50%;
  margin-top: -1px;
  transform: rotate(45deg);
}
#header_sub .inner .btnCall.on::after {
  bottom: 50%;
  margin-bottom: -1px;
  transform: rotate(-45deg);
}
#header_sub .inner .btnCall.on span {
  transform: translateX(100%);
  opacity: 0;
}
#header_sub .inner .menuMo {
  width: 220px;
  height: 100vh;
  background: rgb(134, 195, 241);
  position: fixed;
  top: 0;
  left: -220px;
  padding: 20px 30px;
  z-index: 10;
  transition: 0.5s;
  display: none;
}
#header_sub .inner .menuMo.on {
  left: 0;
}
#header_sub .inner .menuMo > h1 {
  padding-top: 20px;
  border-bottom: 1px solid #fff;
  text-align: center;
}
#header_sub .inner .menuMo > h1 a {
  display: block;
  font-size: 20px;
  color: #fff;
}
#header_sub .inner .menuMo > h1 span {
  display: block;
  padding-bottom: 20px;
  font-size: 12px;
  letter-spacing: 1px;
  color: #fff;
}
#header_sub .inner .menuMo #gnbMo li {
  padding: 0px;
}
#header_sub .inner .menuMo #gnbMo li a {
  display: block;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.5);
  font: bold 14px/1;
  color: #fff;
  text-align: center;
}

.content {
  width: 100%;
  padding: 0 0 100px;
}
.content .sub_visual {
  width: 100%;
  height: 250px;
  background: #bbb;
  margin-bottom: 100px;
}
.content .inner {
  width: 1180px;
  margin: 0 auto;
  min-height: 500px;
}
.content .inner h1 {
  font-size: 30px;
  letter-spacing: 1px;
  margin: 0 auto;
  text-align: center;
  color: rgb(2, 126, 196);
  margin-bottom: 20px;
}
.content .inner h1 span {
  font: nomal 20px/1;
  color: #aaa;
}
.content .inner h1 span::before {
  content: "/";
  margin-left: 10px;
  margin-right: 20px;
}

#banner_sub {
  width: 100%;
  padding: 100px 0;
  filter: grayscale(0.9);
  background: url(../img/banner/pic3.jpg) no-repeat center/cover fixed;
}
#banner_sub .inner {
  width: 1180px;
  margin: 0 auto;
}
#banner_sub .inner > h1 {
  font-size: 50px;
  font-style: italic;
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
}
#banner_sub .inner p {
  font-size: 16px;
  color: #fff;
  text-align: center;
}
#banner_sub .inner a {
  display: block;
  margin: 0 auto;
  width: 310px;
  height: 24px;
  text-align: center;
  margin-top: 50px;
  border: 1px solid #fff;
  font-size: 14px;
  color: #fff;
}
#banner_sub .inner a:hover {
  background: #fff;
  color: #444;
  font-weight: 500;
}

#footer_sub {
  width: 100%;
  padding: 100px 0;
  background: #444;
}
#footer_sub .inner {
  width: 1180px;
  margin: 0 auto;
}
#footer_sub .inner::after {
  content: "";
  display: block;
  clear: both;
}
#footer_sub .inner h1 {
  font-size: 30px;
  color: #888;
  float: left;
}
#footer_sub .inner ul {
  float: right;
}
#footer_sub .inner ul li {
  float: left;
  margin-left: 20px;
  margin-top: 15px;
}
#footer_sub .inner ul li a {
  font-size: 13px;
  font-weight: 600;
  color: #777;
}
#footer_sub .inner address {
  float: left;
  width: 100%;
  font-size: 14px;
  font-style: normal;
  color: #888;
  margin-bottom: 15px;
  margin-top: 15px;
  padding-top: 20px;
  border-top: 1px solid #888;
}
#footer_sub .inner p {
  float: left;
  width: 100%;
  font-size: 12px;
  color: #777;
}

@media screen and (max-width: 1179px) {
  #header_sub .inner {
    width: 100%;
    height: 100px;
  }
  #header_sub .inner h1 {
    left: 20px;
  }
  #header_sub .inner .menuWeb {
    display: none;
  }
  #header_sub .inner .btnCall {
    display: block;
  }
  #header_sub .inner .menuMo {
    display: block;
  }
  #banner_sub {
    padding: 100px 30px;
  }
  #banner_sub .inner {
    width: 100%;
  }
  #footer_sub {
    padding: 50px 30px;
  }
  #footer_sub .inner {
    width: 100%;
  }
}
.inner h1 {
  font-size: 80px;
}

#footer_sub .inner h1 {
  margin-bottom: 10px;
}
#footer_sub .inner ul {
  width: 100%;
}
#footer_sub .inner ul li {
  margin-left: 0px;
  margin: 5px;
}

.department .sub_visual {
  background: skyblue;
}
.department .wrap {
  width: 100%;
}
.department .wrap::after {
  content: "";
  display: block;
  clear: both;
}
.department .wrap article {
  width: 380px;
  float: left;
  margin-right: 20px;
  margin-top: 50px;
}
.department .wrap article:nth-of-type(3n) {
  margin-right: 0px;
}
.department .wrap article .pic {
  width: 100%;
  height: 380px;
  overflow: hidden;
  filter: grayscale(1);
  margin-bottom: 20px;
}
.department .wrap article .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.department .wrap article h2 {
  text-align: center;
  margin-bottom: 5px;
}
.department .wrap article h2 a {
  font: 22px/1;
  color: #444;
}
.department .wrap article P {
  text-align: center;
  margin-bottom: 100PX;
  font: 10PX/1.2;
  color: #777;
}

@media screen and (max-width: 1179px) {
  .department .division {
    height: 60vw;
  }
}
@media screen and (max-width: 539px) {
  .department .division {
    background: none;
    height: auto;
  }
  .department .division .div_tree {
    position: relative;
    top: 0;
    opacity: 1;
  }
}
.sub_visual {
  background: skyblue;
}

.vidList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
}
.vidList article {
  width: 48%;
  height: 400px;
  bottom: 1px solid #555;
  margin-bottom: 40px;
}
.vidList article .pic {
  display: block;
  width: 100%;
  height: 60%;
  padding: 10px;
}
.vidList article .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.vidList article .con {
  width: 100%;
  height: 40%;
  padding: 20px;
}
.vidList article .con h2 {
  font-size: 20px;
  color: #444;
  margin-bottom: 15px;
}
.vidList article .con p {
  font-size: 16px;
  color: rgb(2, 126, 196);
}
.vidList figure.pop {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  padding: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.vidList figure.pop .btnClose {
  position: absolute;
  top: 50px;
  right: 50px;
  color: #fff;
  cursor: pointer;
}

.gallery {
  background: #eee;
}
.gallery .sub_visual {
  background: skyblue;
}
.gallery .inner #wrap {
  width: 100%;
  padding: 50px;
  overflow: hidden;
}
.gallery .inner #wrap #list {
  opacity: 0;
  transform: translateY(100px);
  transition: 1s;
}
.gallery .inner #wrap #list::after {
  content: "";
  display: block;
  clear: both;
}
.gallery .inner #wrap #list .item {
  width: 25%;
  float: left;
  padding: 10px;
}
.gallery .inner #wrap #list .item div {
  width: 100%;
  background: #fff;
  padding: 20px;
  border-radius: 50px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}
.gallery .inner #wrap #list .item div a img {
  width: 100%;
}
.gallery .inner #wrap #list .item div p {
  font-size: 12px;
  color: #777;
  margin-top: 10px;
  margin-bottom: 10px;
}
.gallery .inner #wrap #list.on {
  opacity: 1;
  transform: translateY(0px);
}

.join {
  width: 100%;
  padding: 150px 0;
}
.join .sub_visual {
  background: skyblue;
}
.join .inner {
  width: 1180px;
  margin: 0 auto;
}
.join .inner table {
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
}
.join .inner table th,
.join .inner table td {
  border-bottom: 1px solid #ddd;
  padding: 15px 25px;
}
.join .inner table th {
  width: 20%;
}
.join .inner table th input[type=reset],
.join .inner table th input[type=submit] {
  width: 30%;
  height: 40px;
  border: 1px solid #333;
  margin: 10px;
  font: bold 14px/40px "arial";
  color: #555;
  cursor: pointer;
  transition: 0.5s;
}
.join .inner table th input[type=reset]:hover,
.join .inner table th input[type=submit]:hover {
  background: #333;
  color: #fff;
}
.join .inner table td {
  border-left: 1px solid #aaa;
}
.join .inner table td input[type=text],
.join .inner table td input[type=password],
.join .inner table td select {
  width: 40%;
  background: rgba(0, 0, 0, 0.03);
  padding: 10px;
  border: 1px solid #aaa;
}
.join .inner table td input[type=radio],
.join .inner table td input[type=checkbox] {
  margin-right: 30px;
}
.join .inner table td textarea {
  resize: none;
  width: 60%;
  height: 150px;
  background: rgba(0, 0, 0, 0.03);
  padding: 10px;
  border: 1px solid #aaa;
}
.join .inner table td p {
  font: 11px/1 "맑은 고딕";
  color: hotpink;
  margin-top: 5px;
}

#header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}
#header .inner {
  width: 1180px;
  height: 100px;
  margin: 0 auto;
  position: relative;
}
#header .inner > h1 {
  position: absolute;
  left: 0;
  bottom: -4px;
  letter-spacing: 1px;
}
#header .inner > h1 > a {
  font-size: 26px;
  font-weight: 600;
  color: #fff;
}
#header .inner .menuWeb #gnb {
  position: absolute;
  right: 0;
  bottom: 0;
}
#header .inner .menuWeb #gnb li {
  float: left;
}
#header .inner .menuWeb #gnb li a {
  display: block;
  padding: 12px 18px;
  font-size: 13px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8);
}
#header .inner .menuWeb #gnb li a:hover {
  color: rgb(25, 2, 154);
  font-weight: 700;
  transform: scale(1.1);
}
#header .inner .btnCall {
  position: absolute;
  right: 30px;
  top: 72px;
  transform: translateY(-50%);
  display: none;
  width: 20px;
  height: 20px;
}
#header .inner .btnCall::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transition: top 0.5s 0s, transform 0.5s 0.5s;
}
#header .inner .btnCall::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: bottom 0.5s 0s, transform 0.5s 0.5s;
}
#header .inner .btnCall span {
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1px;
  transition: 1s;
  text-indent: -9999px;
}
#header .inner .btnCall.on::before {
  top: 50%;
  margin-top: -1px;
  transform: rotate(45deg);
}
#header .inner .btnCall.on::after {
  bottom: 50%;
  margin-bottom: -1px;
  transform: rotate(-45deg);
}
#header .inner .btnCall.on span {
  transform: translateX(100%);
  opacity: 0;
}
#header .inner .menuMo {
  width: 220px;
  height: 100vh;
  background: rgb(134, 195, 241);
  position: fixed;
  top: 0;
  left: -220px;
  padding: 20px 30px;
  z-index: 10;
  transition: 0.5s;
  display: none;
}
#header .inner .menuMo.on {
  left: 0;
}
#header .inner .menuMo > h1 {
  padding-top: 20px;
  border-bottom: 1px solid #fff;
  text-align: center;
}
#header .inner .menuMo > h1 a {
  display: block;
  font-size: 20px;
  color: #fff;
}
#header .inner .menuMo > h1 span {
  display: block;
  padding-bottom: 20px;
  font-size: 12px;
  letter-spacing: 1px;
  color: #fff;
}
#header .inner .menuMo #gnbMo li {
  padding: 0px;
}
#header .inner .menuMo #gnbMo li a {
  display: block;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.5);
  font: bold 14px/1;
  color: #fff;
  text-align: center;
}

#visual {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #ddd;
}
#visual img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#visual .inner {
  width: 1180px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#visual .inner h1 {
  font-style: italic;
  font-size: 100px;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.9);
}
#visual .inner p {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 80px;
}
#visual .inner a {
  display: block;
  width: 310px;
  height: 28px;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.5);
  font: bold 10px/40px;
  color: #fff;
  text-align: center;
}
#visual .inner a:hover {
  background: rgba(255, 255, 255, 0.5);
  color: rgb(2, 126, 196);
  font-weight: 600;
}

#news {
  width: 100%;
  padding: 200px 0;
}
#news .inner {
  width: 1180px;
  margin: 0 auto;
  position: relative;
}
#news .inner h1 {
  font-size: 30px;
  color: rgb(2, 126, 196);
  text-align: center;
  margin-bottom: 50px;
}
#news .inner .wrap {
  width: 100%;
}
#news .inner .wrap article {
  float: left;
  width: 280px;
  margin-right: 20px;
}
#news .inner .wrap article:last-of-type {
  margin-right: 0;
}
#news .inner .wrap article .pic {
  width: 100%;
  height: 120px;
  overflow: hidden;
}
#news .inner .wrap article .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}
#news .inner .wrap article .pic:hover {
  cursor: pointer;
}
#news .inner .wrap article .pic:hover img {
  transform: scale(1.2);
}
#news .inner .wrap article h2 {
  margin-bottom: 0px;
}
#news .inner .wrap article h2 a {
  font-size: 18px;
  color: rgb(2, 126, 196);
}
#news .inner .wrap article p {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
}

#brand {
  width: 100%;
  padding: 200px 0;
  background: #eee;
}
#brand .inner {
  width: 1180px;
  margin: 0 auto;
  position: relative;
}
#brand .inner h1 {
  font-size: 30px;
  color: rgb(2, 126, 196);
  text-align: center;
  margin-bottom: 50px;
}
#brand .inner .wrap {
  width: 100%;
}
#brand .inner .wrap article:nth-of-type(1) {
  width: 380px;
  height: 620px;
  background: rgb(199, 209, 216);
  float: left;
  margin-right: 20px;
  padding: 170px 50px 0;
  text-align: center;
}
#brand .inner .wrap article:nth-of-type(1) i {
  font-size: 100px;
  color: #fff;
  margin-bottom: 20px;
}
#brand .inner .wrap article:nth-of-type(1) h2 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 5px;
}
#brand .inner .wrap article:nth-of-type(1) p {
  font-size: 14px;
  color: #fff;
  margin-bottom: 30px;
}
#brand .inner .wrap article:nth-of-type(1) a {
  display: block;
  width: 150px;
  height: 24px;
  font-size: 12px;
  color: #fff;
  border: 1px solid #fff;
  margin: 0 auto;
}
#brand .inner .wrap article:nth-of-type(2) {
  width: 380px;
  height: 300px;
  float: left;
  margin-right: 20px;
}
#brand .inner .wrap article:nth-of-type(2) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#brand .inner .wrap article:nth-of-type(3) {
  width: 380px;
  height: 300px;
  float: left;
}
#brand .inner .wrap article:nth-of-type(3) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#brand .inner .wrap article:nth-of-type(4) {
  width: 780px;
  height: 300px;
  float: left;
  margin-top: 20px;
  position: relative;
}
#brand .inner .wrap article:nth-of-type(4) img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}
#brand .inner .wrap article:nth-of-type(4)::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(-45deg, rgba(192, 213, 255, 0.4), rgba(208, 173, 230, 0.4));
  opacity: 0;
  transition: 0.5s;
}
#brand .inner .wrap article:nth-of-type(4):hover {
  cursor: pointer;
}
#brand .inner .wrap article:nth-of-type(4):hover::after {
  opacity: 1;
}

#banner {
  width: 100%;
  padding: 150px 0;
  background: url(../img/banner/pic3.jpg) no-repeat center/cover fixed;
}
#banner .inner {
  width: 1180px;
  margin: 0 auto;
}
#banner .inner > h1 {
  font-size: 50px;
  font-style: italic;
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
}
#banner .inner p {
  font-size: 16px;
  color: #fff;
  text-align: center;
}
#banner .inner a {
  display: block;
  margin: 0 auto;
  width: 310px;
  height: 24px;
  text-align: center;
  margin-top: 50px;
  border: 1px solid #eee;
  font-size: 14px;
  color: #fff;
}
#banner .inner a:hover {
  background: #fff;
  color: rgb(2, 126, 196);
  font-weight: 500;
}

#comments {
  width: 100%;
  padding: 150px 0;
  background: #ddd;
}
#comments .inner {
  width: 1180px;
  margin: 0 auto;
}
#comments .inner h1 {
  font-size: 30px;
  font-weight: 550;
  color: rgb(2, 126, 196);
  text-align: center;
  margin-bottom: 50px;
}
#comments .inner ul {
  width: 100%;
}
#comments .inner ul li {
  width: 95%;
  margin: 0 auto;
  border: 1px solid rgb(2, 126, 196);
  border-radius: 3px;
  padding: 10px 30px;
  margin-bottom: 14px;
}
#comments .inner ul li::after {
  content: "";
  display: block;
  clear: both;
}
#comments .inner ul li:hover {
  background: rgb(2, 126, 196);
}
#comments .inner ul li:hover a {
  color: #fff;
  font-weight: 700;
  transform: scale(1.05);
}
#comments .inner ul li:hover span {
  color: #fff;
  font-weight: 700;
  transform: scale(1.05);
}
#comments .inner ul li a {
  font-size: 14px;
  color: #777;
  color: rgb(2, 126, 196);
  float: left;
}
#comments .inner ul li span {
  font-size: 12px;
  color: #888;
  color: rgb(2, 126, 196);
  float: right;
}

#footer {
  width: 100%;
  padding: 100px 0;
  background: #444;
}
#footer .inner {
  width: 1180px;
  margin: 0 auto;
}
#footer .inner::after {
  content: "";
  display: block;
  clear: both;
}
#footer .inner h1 {
  font-size: 30px;
  color: #888;
  float: left;
}
#footer .inner ul {
  float: right;
}
#footer .inner ul li {
  float: left;
  margin-left: 20px;
  margin-top: 15px;
}
#footer .inner ul li a {
  font-size: 13px;
  font-weight: 600;
  color: #777;
}
#footer .inner address {
  float: left;
  width: 100%;
  font-size: 14px;
  font-style: normal;
  color: #888;
  margin-bottom: 15px;
  margin-top: 15px;
  padding-top: 20px;
  border-top: 1px solid #888;
}
#footer .inner p {
  float: left;
  width: 100%;
  font-size: 12px;
  color: #777;
}

@media screen and (max-width: 1179px) {
  #header .inner {
    width: 100%;
    height: 100px;
  }
  #header .inner h1 {
    left: 20px;
  }
  #header .inner .menuWeb {
    display: none;
  }
  #header .inner .btnCall {
    display: block;
  }
  #header .inner .menuMo {
    display: block;
  }
  #visual {
    height: 100vh;
    background: url(../img/visual/pic7.jpg) no-repeat center/cover;
  }
  #visual img {
    display: none;
  }
  #visual .inner {
    width: 100%;
    padding: 0px 30px;
  }
  #visual .inner h1 {
    font-size: 90px;
    color: #444;
  }
  #visual .inner p {
    font-size: 28px;
    color: #444;
  }
  #visual .inner a {
    color: #444;
    font-weight: 600;
    width: 50%;
    border: 1px solid #444;
  }
  #visual .inner a:hover {
    border: 1px solid #444;
    background: #444;
    color: #fff;
  }
  #news {
    padding: 100px 30px;
  }
  #news .inner {
    width: 100%;
  }
  #news .inner .wrap article {
    width: 49%;
    margin-right: 2%;
  }
  #news .inner .wrap article:nth-of-type(2n) {
    margin-right: 0;
  }
  #news .inner .wrap article .pic {
    height: 20vmax;
  }
  #brand {
    padding: 100px 30px;
  }
  #brand .inner {
    width: 100%;
  }
  #brand .inner .wrap article:nth-of-type(1) {
    width: 49%;
    margin-right: 2%;
  }
  #brand .inner .wrap article:nth-of-type(2) {
    width: 49%;
    margin-right: 0px;
    margin-bottom: 20px;
  }
  #brand .inner .wrap article:nth-of-type(3) {
    width: 49%;
  }
  #brand .inner .wrap article:nth-of-type(4) {
    width: 100%;
  }
  #banner {
    padding: 100px 30px;
  }
  #banner .inner {
    width: 100%;
  }
  #comments {
    padding: 100px 30px;
  }
  #comments .inner {
    width: 100%;
  }
  #footer {
    padding: 50px 30px;
  }
  #footer .inner {
    width: 100%;
  }
}
@media screen and (max-width: 539px) {
  #visual img {
    width: 100%;
    height: 500px;
  }
  #visual .inner h1 {
    font-size: 80px;
  }
  #news .inner .wrap article {
    width: 100%;
    margin-right: 0%;
  }
  #news .inner .wrap article .pic {
    height: 30vmax;
  }
  #brand .inner .wrap article:nth-of-type(1) {
    width: 100%;
    height: 400px;
    padding: 50px;
    margin-right: 0%;
    margin-bottom: 20px;
  }
  #brand .inner .wrap article:nth-of-type(2) {
    width: 100%;
  }
  #brand .inner .wrap article:nth-of-type(3) {
    width: 100%;
  }
  #footer .inner h1 {
    margin-bottom: 10px;
  }
  #footer .inner ul {
    width: 100%;
  }
  #footer .inner ul li {
    margin-left: 0px;
    margin: 5px;
  }
}

/*# sourceMappingURL=style.css.map */
