@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans:wght@300&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.hidden {
  position: absolute;
  top: -99999px;
  opacity: 0;
}

.wrap::after {
  content: "";
  display: block;
  clear: both;
}

fieldset {
  border: none;
}

table {
  border-collapse: collapse;
}

#header_sub {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}
#header_sub .inner {
  width: 1180px;
  height: 100px;
  margin: 0 auto;
  position: relative;
}
#header_sub .inner > h1 {
  position: absolute;
  left: 0;
  bottom: -4px;
  letter-spacing: 1px;
}
#header_sub .inner > h1 > a {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  color: #fff;
}
#header_sub .inner .menuWeb #gnb {
  position: absolute;
  right: 0;
  bottom: 0;
}
#header_sub .inner .menuWeb #gnb li {
  float: left;
}
#header_sub .inner .menuWeb #gnb li a {
  display: block;
  padding: 12px 18px;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.9);
}
#header_sub .inner .menuWeb #gnb li a:hover {
  color: rgb(2, 126, 196);
  transform: scale(1.2);
}
#header_sub .inner .btnCall {
  position: absolute;
  right: 30px;
  top: 72px;
  transform: translateY(-50%);
  display: none;
  width: 20px;
  height: 20px;
}
#header_sub .inner .btnCall::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transition: top 0.5s 0s, transform 0.5s 0.5s;
}
#header_sub .inner .btnCall::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: bottom 0.5s 0s, transform 0.5s 0.5s;
}
#header_sub .inner .btnCall span {
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1px;
  transition: 1s;
  text-indent: -9999px;
}
#header_sub .inner .btnCall.on::before {
  top: 50%;
  margin-top: -1px;
  transform: rotate(45deg);
}
#header_sub .inner .btnCall.on::after {
  bottom: 50%;
  margin-bottom: -1px;
  transform: rotate(-45deg);
}
#header_sub .inner .btnCall.on span {
  transform: translateX(100%);
  opacity: 0;
}
#header_sub .inner .menuMo {
  width: 270px;
  height: 100vh;
  background: rgb(2, 126, 196);
  position: fixed;
  top: 0;
  left: -270px;
  padding: 20px 30px;
  z-index: 10;
  transition: 0.5s;
  display: none;
}
#header_sub .inner .menuMo.on {
  left: 0;
}
#header_sub .inner .menuMo > h1 {
  padding-top: 20px;
  font-family: "Open Sans", sans-serif;
  border-bottom: 1px solid #fff;
  text-align: center;
}
#header_sub .inner .menuMo > h1 a {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #fff;
}
#header_sub .inner .menuMo > h1 span {
  display: block;
  padding-bottom: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  color: #fff;
}
#header_sub .inner .menuMo #gnbMo li {
  padding: 0px;
}
#header_sub .inner .menuMo #gnbMo li a {
  display: block;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-family: "Open Sans", sans-serif;
  font: 14px/1;
  color: #fff;
  text-align: center;
  transition: 0.5s;
}
#header_sub .inner .menuMo #gnbMo li a:hover {
  color: rgb(25, 2, 154);
}

.content {
  width: 100%;
  padding: 0 0 100px;
}
.content .sub_visual {
  width: 100%;
  height: 250px;
  background: #bbb;
  margin-bottom: 100px;
}
.content .inner {
  width: 1180px;
  margin: 0 auto;
  min-height: 500px;
}
.content .inner h1 {
  font-size: 30px;
  letter-spacing: 1px;
  margin: 0 auto;
  text-align: center;
  color: rgb(2, 126, 196);
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
}
.content .inner h1 span {
  font: nomal 20px/1;
  color: #aaa;
}
.content .inner h1 span::before {
  content: "/";
  margin-left: 10px;
  margin-right: 20px;
}

#banner_sub {
  width: 100%;
  padding: 100px 0;
  filter: grayscale(0.9);
  background: url(../img/banner/pic3.jpg) no-repeat center/cover fixed;
}
#banner_sub .inner {
  width: 1180px;
  margin: 0 auto;
}
#banner_sub .inner > h1 {
  font-size: 50px;
  font-style: italic;
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
}
#banner_sub .inner p {
  font-size: 16px;
  color: #fff;
  text-align: center;
}
#banner_sub .inner a {
  display: block;
  margin: 0 auto;
  width: 310px;
  height: 24px;
  text-align: center;
  margin-top: 50px;
  border: 1px solid #fff;
  font-size: 14px;
  color: #fff;
}
#banner_sub .inner a:hover {
  background: #fff;
  color: #444;
  font-weight: 500;
}

#footer_sub {
  width: 100%;
  padding: 100px 0;
  background: #444;
}
#footer_sub .inner {
  width: 1180px;
  margin: 0 auto;
}
#footer_sub .inner::after {
  content: "";
  display: block;
  clear: both;
}
#footer_sub .inner h1 {
  font-size: 30px;
  color: #888;
  float: left;
}
#footer_sub .inner ul {
  float: right;
}
#footer_sub .inner ul li {
  float: left;
  margin-left: 20px;
  margin-top: 15px;
}
#footer_sub .inner ul li a {
  font-size: 13px;
  font-weight: 600;
  color: #777;
}
#footer_sub .inner address {
  float: left;
  width: 100%;
  font-size: 14px;
  font-style: normal;
  color: #888;
  margin-bottom: 15px;
  margin-top: 15px;
  padding-top: 20px;
  border-top: 1px solid #888;
}
#footer_sub .inner p {
  float: left;
  width: 100%;
  font-size: 12px;
  color: #777;
}

@media screen and (max-width: 1179px) {
  #header_sub .inner {
    width: 100%;
    height: 100px;
  }
  #header_sub .inner h1 {
    left: 20px;
  }
  #header_sub .inner .menuWeb {
    display: none;
  }
  #header_sub .inner .btnCall {
    display: block;
  }
  #header_sub .inner .menuMo {
    display: block;
  }
  #banner_sub {
    padding: 100px 30px;
  }
  #banner_sub .inner {
    width: 100%;
  }
  #footer_sub {
    padding: 50px 30px;
  }
  #footer_sub .inner {
    width: 100%;
  }
}
.inner h1 {
  font-size: 80px;
}

#footer_sub .inner h1 {
  margin-bottom: 10px;
}
#footer_sub .inner ul {
  width: 100%;
}
#footer_sub .inner ul li {
  margin-left: 0px;
  margin: 5px;
}

.department .sub_visual {
  background: skyblue;
}
.department .wrap {
  width: 100%;
}
.department .wrap::after {
  content: "";
  display: block;
  clear: both;
}
.department .wrap article {
  border-top: 1px solid #999;
  padding: 10px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 23%;
  float: left;
  margin-right: 20px;
  margin-top: 50px;
}
.department .wrap article .pic {
  width: 100%;
  height: 38vh;
  overflow: hidden;
  filter: grayscale(1);
  margin-bottom: 20px;
}
.department .wrap article .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.department .wrap article h2 {
  padding-left: 10px;
  text-align: center;
}
.department .wrap article h2 a {
  font-family: "Open Sans", sans-serif;
  font: 22px/1;
  color: #333;
}
.department .wrap article P {
  margin-right: 10px;
  margin-top: 8px;
  margin-bottom: 100px;
  font: 10px/1.2;
  color: #555;
}
.department .wrap article span {
  width: 100%;
  font-family: "Work Sans", sans-serif;
  font-size: 13px;
  color: #777;
  margin-left: 10px;
  margin-top: -70px;
}

@media screen and (max-width: 1179px) {
  .department .inner {
    width: 100%;
    margin-right: 0%;
    padding: 0px 30px;
  }
  .department .inner .wrap article {
    width: 49%;
    margin-right: 2%;
  }
  .department .inner .wrap article:nth-of-type(2n) {
    margin-right: 0;
  }
  .department .inner .wrap article .pic {
    height: 25vmax;
  }
}
@media screen and (max-width: 539px) {
  .department .inner .wrap article {
    width: 100%;
  }
}
.community .sub_visual {
  background: skyblue;
}
.community .inner {
  overflow: hidden;
}
.community .inner #visual {
  width: 100%;
  height: 500px;
  border: 1px solid #777;
  border-radius: 5px;
  background: no-repeat center/cover;
  background: rgba(0, 0, 0, 0.8);
  margin-top: 70px;
  margin-bottom: 70px;
}
.community .inner #visual video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.community .inner table {
  width: 100%;
  border-bottom: 2px solid rgb(2, 126, 196);
  border-collapse: collapse;
  margin-bottom: 50px;
  font-family: "Open Sans", sans-serif;
}
.community .inner table tr:nth-of-type(even) {
  background: #fff;
}
.community .inner table tr:hover {
  background: rgb(235, 247, 254);
}
.community .inner table tr th {
  padding: 15px;
  background: rgb(2, 126, 196);
  color: #fff;
}
.community .inner table tr th:nth-of-type(1) {
  width: 10%;
}
.community .inner table tr th:nth-of-type(3) {
  width: 15%;
}
.community .inner table tr th:nth-of-type(4) {
  width: 15%;
}
.community .inner table tr td {
  padding: 13px;
  border-bottom: 1px solid #ddd;
  text-align: center;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #555;
}
.community .inner table tr td:nth-of-type(2) {
  text-align: left;
}
.community .inner table tr td a {
  color: #555;
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
}
.community .inner .pagination {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}
.community .inner .pagination::after {
  content: "";
  display: block;
  clear: both;
}
.community .inner .pagination .prev {
  float: left;
  display: block;
  width: 30px;
  height: 30px;
  background: #fff;
  color: rgb(2, 126, 196);
  font-size: 20px;
  text-align: center;
}
.community .inner .pagination .next {
  float: right;
  display: block;
  width: 30px;
  height: 30px;
  background: #fff;
  color: rgb(2, 126, 196);
  font-size: 20px;
  text-align: center;
}
.community .inner .pagination .numbers {
  display: inline-block;
  text-align: center;
  font-size: 0;
}
.community .inner .pagination .numbers a {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font: bold 11px/30px "arial";
  color: rgb(2, 126, 196);
  margin: 0 5px;
  transition: 0.5s;
}
.community .inner .pagination .numbers a:hover {
  background: rgb(2, 126, 196);
  color: #fff;
}
.community .inner .pagination .numbers a:hover.on {
  color: rgb(2, 126, 196);
}

@media screen and (max-width: 1179px) {
  .community .inner {
    width: 100%;
    padding: 0px 30px;
  }
  .community .inner #visual {
    width: 100%;
    height: 150px;
  }
}
@media screen and (max-width: 539px) {
  .community .inner table tr th:nth-of-type(1) {
    width: 13%;
  }
  .community .inner table tr th:nth-of-type(3) {
    width: 20%;
  }
  .community .inner table tr th:nth-of-type(4) {
    width: 0%;
    display: none;
  }
  .community .inner table tr td:nth-of-type(4) {
    display: none;
  }
}
.youtube .sub_visual {
  background: skyblue;
}
.youtube .inner .vidList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  margin-top: 80px;
}
.youtube .inner .vidList article {
  border-top: 1px solid #999;
  padding: 10px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 49%;
  height: 30vh;
}
.youtube .inner .vidList article:nth-of-type(2n) {
  margin-right: 0px;
}
.youtube .inner .vidList article .pic {
  display: block;
  width: 100%;
  height: 75%;
}
.youtube .inner .vidList article .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.youtube .inner .vidList article .con {
  width: 100%;
  height: 100%;
  padding: 10px 10px 0px;
}
.youtube .inner .vidList article .con h2 {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #333;
  margin-bottom: 3px;
}
.youtube .inner .vidList article .con p {
  font-size: 14px;
  color: #333;
  font-family: "Work Sans", sans-serif;
}
.youtube .inner .vidList article .con span {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  color: rgb(2, 126, 196);
}
.youtube .inner figure.pop {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  padding: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.youtube .inner figure.pop .btnClose {
  position: absolute;
  top: 50px;
  right: 50px;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 1179px) {
  .youtube .inner {
    width: 100%;
    padding: 0px 30px;
  }
  .youtube .inner .vidList article {
    width: 49%;
    margin-right: 0%;
  }
  .youtube .inner .vidList article:nth-of-type(2n) {
    margin-right: 0px;
  }
}
@media screen and (max-width: 539px) {
  .youtube .inner {
    width: 100%;
  }
  .youtube .inner .vidList article {
    width: 100%;
  }
}
.gallery {
  background: #eee;
}
.gallery .sub_visual {
  background: skyblue;
}
.gallery .inner #wrap {
  width: 100%;
  padding: 40px;
  overflow: hidden;
}
.gallery .inner #wrap #list {
  opacity: 0;
  transform: translateY(100px);
  transition: 1s;
}
.gallery .inner #wrap #list::after {
  content: "";
  display: block;
  clear: both;
}
.gallery .inner #wrap #list .item {
  width: 25%;
  float: left;
  padding: 10px;
}
.gallery .inner #wrap #list .item div {
  width: 100%;
  background: #fff;
  padding: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}
.gallery .inner #wrap #list .item div a img {
  width: 100%;
}
.gallery .inner #wrap #list .item div p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #555;
  margin-top: 5px;
  margin-bottom: 12px;
  padding-left: 5px;
}
.gallery .inner #wrap #list.on {
  opacity: 1;
  transform: translateY(0px);
}

@media screen and (max-width: 1179px) {
  .gallery .inner {
    width: 100%;
    padding: 0px;
  }
  .gallery .inner #wrap {
    width: 100%;
  }
  .gallery .inner #wrap #list .item {
    width: 49%;
  }
  .gallery .inner #wrap #list .item:nth-of-type(2n) {
    margin-left: 0;
  }
}
@media screen and (max-width: 539px) {
  .gallery .inner {
    width: 100%;
  }
  .gallery .inner #wrap #list .item {
    width: 100%;
  }
}
.location {
  width: 100%;
}
.location .sub_visual {
  background: skyblue;
}
.location .inner .mapinfo {
  background: rgb(124, 175, 251);
  width: 100%;
  top: calc(75% - 100px);
  left: calc(50% - 100px);
}
.location .inner .mapinfo #map {
  width: 100%;
  height: 550px;
  border: 2px solid rgb(2, 126, 196);
  border-radius: 5px;
  margin-top: 60px;
  margin-bottom: 100px;
  filter: invert(1) grayscale(0.9) brightness(0.8);
  opacity: 0.6;
}
.location .inner .mapinfo .info {
  width: 160px;
  height: 160px;
  background: skyblue;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 80px);
  left: calc(50% - 80px);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: 0.5s;
}
.location .inner .mapinfo .info > h2 {
  position: absolute;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 18PX;
  color: aliceblue;
  padding: 2vw;
  text-align: center;
  z-index: 5;
}
.location .inner .mapinfo .info > h2 span {
  font-size: 24px;
  border-top: 2px solid aliceblue;
}
.location .inner .mapinfo .info::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background: skyblue;
  transform: skewX(-20deg);
  position: absolute;
  top: 16px;
  right: 20px;
  z-index: 3;
}
.location .inner .mapinfo .info.off {
  opacity: 0;
  margin-top: -500px;
}

@media screen and (max-width: 1179px) {
  .location .inner {
    width: 100%;
    padding: 0px 30px;
    margin: 0 auto;
  }
  .location .mapinfo #map {
    width: 100%;
  }
}
.join .sub_visual {
  background: skyblue;
}
.join .inner h1 {
  margin-bottom: 70px;
}
.join .inner .agreement {
  margin-bottom: 70px;
}
.join .inner .agreement label[for=agree] {
  font-size: 12px;
}
.join .inner table {
  width: 100%;
  border-top: 2px solid rgb(2, 126, 196);
  border-bottom: 2px solid rgb(2, 126, 196);
}
.join .inner table th {
  width: 20%;
  text-align: left;
  font: bold 12px;
  font-family: "Open Sans", sans-serif;
  color: rgb(2, 126, 196);
  padding: 20px 30px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid rgb(2, 126, 196);
  background: rgb(230, 242, 250);
}
.join .inner table th:last-child {
  background: #fff;
  text-align: center;
  border-right: none;
}
.join .inner table th input[type=submit],
.join .inner table th input[type=reset] {
  width: 150px;
  height: 34px;
  border: none;
  border-radius: 3px;
  background: rgb(2, 126, 196);
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  margin-right: 10px;
}
.join .inner table td {
  border-bottom: 1px solid rgb(2, 126, 196);
  font-size: 0;
}
.join .inner table td input[type=text],
.join .inner table td input[type=password] {
  width: 60%;
  height: 30px;
  border: 1px solid #eee;
  background: rgb(242, 246, 249);
  padding-left: 20px;
  margin-left: 20px;
}
.join .inner table td input[type=checkbox],
.join .inner table td input[type=radio] {
  margin-right: 5px;
}
.join .inner table td label {
  margin-right: 20px;
  margin-left: 20px;
  font-size: 14px;
}
.join .inner table td .hobbyTxt,
.join .inner table td .genderTxt {
  font: 12px/1 "arial";
  color: rgb(2, 126, 196);
  margin-top: 10px;
  margin-left: 10px;
}
.join .inner table td select#company {
  width: 20%;
  height: 30px;
  border: 1px solid #eee;
  background: rgb(242, 246, 249);
  padding-left: 20px;
  margin-left: 10px;
}
.join .inner table td textarea#comments {
  width: 100%;
  height: 150px;
  border: 1px solid #eee;
  background: rgb(242, 246, 249);
  padding: 20px;
  resize: none;
}

@media screen and (max-width: 1179px) {
  .join .inner {
    width: 100%;
    padding: 0px 20px;
  }
}
#header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}
#header .inner {
  width: 1180px;
  height: 100px;
  margin: 0 auto;
  position: relative;
}
#header .inner > h1 {
  position: absolute;
  left: 0;
  bottom: -4px;
  letter-spacing: 1px;
}
#header .inner > h1 > a {
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
}
#header .inner .menuWeb #gnb {
  position: absolute;
  right: 0;
  bottom: 0;
}
#header .inner .menuWeb #gnb li {
  float: left;
}
#header .inner .menuWeb #gnb li a {
  display: block;
  padding: 12px 18px;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  color: rgba(255, 255, 255, 0.8);
}
#header .inner .menuWeb #gnb li a:hover {
  color: rgb(25, 2, 154);
  transform: scale(1.2);
}
#header .inner .btnCall {
  position: absolute;
  right: 30px;
  top: 72px;
  transform: translateY(-50%);
  display: none;
  width: 20px;
  height: 20px;
}
#header .inner .btnCall::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transition: top 0.5s 0s, transform 0.5s 0.5s;
}
#header .inner .btnCall::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: bottom 0.5s 0s, transform 0.5s 0.5s;
}
#header .inner .btnCall span {
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1px;
  transition: 1s;
  text-indent: -9999px;
}
#header .inner .btnCall.on::before {
  top: 50%;
  margin-top: -1px;
  transform: rotate(45deg);
}
#header .inner .btnCall.on::after {
  bottom: 50%;
  margin-bottom: -1px;
  transform: rotate(-45deg);
}
#header .inner .btnCall.on span {
  transform: translateX(100%);
  opacity: 0;
}
#header .inner .menuMo {
  width: 270px;
  height: 100vh;
  background: rgb(134, 195, 241);
  position: fixed;
  top: 0;
  left: -270px;
  padding: 20px 30px;
  z-index: 10;
  transition: 0.5s;
  display: none;
}
#header .inner .menuMo.on {
  left: 0;
}
#header .inner .menuMo > h1 {
  padding-top: 20px;
  border-bottom: 1px solid #fff;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
#header .inner .menuMo > h1 a {
  display: block;
  font-size: 20px;
  color: #fff;
}
#header .inner .menuMo > h1 span {
  display: block;
  padding-bottom: 20px;
  font-size: 12px;
  letter-spacing: 1px;
  color: #fff;
}
#header .inner .menuMo #gnbMo li {
  padding: 0px;
}
#header .inner .menuMo #gnbMo li a {
  display: block;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  font-family: "Open Sans", sans-serif;
  font: bold 14px/1;
  color: #fff;
  text-align: center;
  transition: 0.5s;
}
#header .inner .menuMo #gnbMo li a:hover {
  color: rgb(2, 126, 196);
}

#visual {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #ddd;
}
#visual img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#visual .inner {
  width: 1180px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#visual .inner h1 {
  font-style: italic;
  font-family: "Open Sans", sans-serif;
  font-size: 100px;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.9);
}
#visual .inner p {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 80px;
}
#visual .inner a {
  display: block;
  width: 310px;
  height: 28px;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-family: "Open Sans", sans-serif;
  font: 10px/40px;
  color: #fff;
  text-align: center;
}
#visual .inner a:hover {
  background: rgba(255, 255, 255, 0.5);
  color: rgb(2, 126, 196);
}

#news {
  width: 100%;
  padding: 200px 0;
}
#news .inner {
  width: 1180px;
  margin: 0 auto;
  position: relative;
}
#news .inner h1 {
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
  color: rgb(2, 126, 196);
  text-align: center;
  margin-bottom: 50px;
}
#news .inner .wrap {
  width: 100%;
}
#news .inner .wrap article {
  float: left;
  width: 280px;
  margin-right: 20px;
}
#news .inner .wrap article:last-of-type {
  margin-right: 0;
}
#news .inner .wrap article .pic {
  width: 100%;
  height: 120px;
  overflow: hidden;
}
#news .inner .wrap article .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}
#news .inner .wrap article .pic:hover {
  cursor: pointer;
}
#news .inner .wrap article .pic:hover img {
  transform: scale(1.2);
}
#news .inner .wrap article h2 {
  margin-bottom: 0px;
}
#news .inner .wrap article h2 a {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: rgb(2, 126, 196);
}
#news .inner .wrap article p {
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

#brand {
  width: 100%;
  padding: 200px 0;
  background: #eee;
}
#brand .inner {
  width: 1180px;
  margin: 0 auto;
  position: relative;
}
#brand .inner h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  color: rgb(2, 126, 196);
  text-align: center;
  margin-bottom: 50px;
}
#brand .inner .wrap {
  width: 100%;
}
#brand .inner .wrap article:nth-of-type(1) {
  width: 380px;
  height: 620px;
  background: rgb(199, 209, 216);
  float: left;
  margin-right: 20px;
  padding: 170px 50px 0;
  text-align: center;
}
#brand .inner .wrap article:nth-of-type(1) i {
  font-size: 100px;
  color: #fff;
  margin-bottom: 20px;
}
#brand .inner .wrap article:nth-of-type(1) h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #fff;
  margin-bottom: 5px;
}
#brand .inner .wrap article:nth-of-type(1) p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #fff;
  margin-bottom: 30px;
}
#brand .inner .wrap article:nth-of-type(1) a {
  font-family: "Open Sans", sans-serif;
  display: block;
  width: 150px;
  height: 24px;
  font-size: 12px;
  color: #fff;
  border: 1px solid #fff;
  margin: 0 auto;
}
#brand .inner .wrap article:nth-of-type(2) {
  width: 380px;
  height: 300px;
  float: left;
  margin-right: 20px;
}
#brand .inner .wrap article:nth-of-type(2) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#brand .inner .wrap article:nth-of-type(3) {
  width: 380px;
  height: 300px;
  float: left;
}
#brand .inner .wrap article:nth-of-type(3) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#brand .inner .wrap article:nth-of-type(4) {
  width: 780px;
  height: 300px;
  float: left;
  margin-top: 20px;
  position: relative;
}
#brand .inner .wrap article:nth-of-type(4) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#brand .inner .wrap article:nth-of-type(4)::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(-45deg, rgba(192, 213, 255, 0.4), rgba(208, 173, 230, 0.4));
  opacity: 0;
  transition: 0.5s;
}
#brand .inner .wrap article:nth-of-type(4):hover {
  cursor: pointer;
}
#brand .inner .wrap article:nth-of-type(4):hover::after {
  opacity: 1;
}

#banner {
  width: 100%;
  padding: 150px 0;
  background: url(../img/banner/pic3.jpg) no-repeat center/cover fixed;
}
#banner .inner {
  width: 1180px;
  margin: 0 auto;
}
#banner .inner > h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 50px;
  font-style: italic;
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
}
#banner .inner p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
}
#banner .inner a {
  font-family: "Open Sans", sans-serif;
  display: block;
  margin: 0 auto;
  width: 310px;
  height: 24px;
  text-align: center;
  margin-top: 50px;
  border: 1px solid #eee;
  font-size: 14px;
  color: #fff;
}
#banner .inner a:hover {
  background: #fff;
  color: rgb(2, 126, 196);
  font-weight: 500;
}

#comments {
  width: 100%;
  padding: 150px 0;
  background: #ddd;
}
#comments .inner {
  width: 1180px;
  margin: 0 auto;
}
#comments .inner h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  color: rgb(2, 126, 196);
  text-align: center;
  margin-bottom: 50px;
}
#comments .inner ul {
  width: 100%;
}
#comments .inner ul li {
  width: 95%;
  margin: 0 auto;
  border: 1px solid rgb(2, 126, 196);
  border-radius: 3px;
  padding: 10px 30px;
  margin-bottom: 14px;
}
#comments .inner ul li::after {
  content: "";
  display: block;
  clear: both;
}
#comments .inner ul li:hover {
  background: rgb(2, 126, 196);
}
#comments .inner ul li:hover a {
  color: #fff;
  transform: scale(1.05);
}
#comments .inner ul li:hover span {
  color: #fff;
  transform: scale(1.05);
}
#comments .inner ul li a {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #777;
  color: rgb(2, 126, 196);
  float: left;
}
#comments .inner ul li span {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #888;
  color: rgb(2, 126, 196);
  float: right;
}

#footer {
  width: 100%;
  padding: 100px 0;
  background: #444;
}
#footer .inner {
  width: 1180px;
  margin: 0 auto;
}
#footer .inner::after {
  content: "";
  display: block;
  clear: both;
}
#footer .inner h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  color: #888;
  float: left;
}
#footer .inner ul {
  float: right;
}
#footer .inner ul li {
  float: left;
  margin-left: 20px;
  margin-top: 15px;
}
#footer .inner ul li a {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #777;
}
#footer .inner address {
  float: left;
  width: 100%;
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  color: #888;
  margin-bottom: 15px;
  margin-top: 15px;
  padding-top: 20px;
  border-top: 1px solid #888;
}
#footer .inner p {
  float: left;
  width: 100%;
  font-family: "Work Sans", sans-serif;
  font-size: 12px;
  color: #777;
}

@media screen and (max-width: 1179px) {
  #header .inner {
    width: 100%;
    height: 100px;
  }
  #header .inner h1 {
    left: 20px;
  }
  #header .inner .menuWeb {
    display: none;
  }
  #header .inner .btnCall {
    display: block;
  }
  #header .inner .menuMo {
    display: block;
  }
  #visual {
    height: 100vh;
    background: url(../img/visual/pic7.jpg) no-repeat center/cover;
  }
  #visual img {
    display: none;
  }
  #visual .inner {
    width: 100%;
    padding: 0px 30px;
  }
  #visual .inner h1 {
    font-size: 90px;
    color: #444;
  }
  #visual .inner p {
    font-size: 28px;
    color: #444;
  }
  #visual .inner a {
    color: #444;
    font-weight: 600;
    width: 50%;
    border: 1px solid #444;
  }
  #visual .inner a:hover {
    border: 1px solid #444;
    background: #444;
    color: #fff;
  }
  #news {
    padding: 100px 30px;
  }
  #news .inner {
    width: 100%;
  }
  #news .inner .wrap article {
    width: 49%;
    margin-right: 2%;
  }
  #news .inner .wrap article:nth-of-type(2n) {
    margin-right: 0;
  }
  #news .inner .wrap article .pic {
    height: 20vmax;
  }
  #brand {
    padding: 100px 30px;
  }
  #brand .inner {
    width: 100%;
  }
  #brand .inner .wrap article:nth-of-type(1) {
    width: 49%;
    margin-right: 2%;
  }
  #brand .inner .wrap article:nth-of-type(2) {
    width: 49%;
    margin-right: 0px;
    margin-bottom: 20px;
  }
  #brand .inner .wrap article:nth-of-type(3) {
    width: 49%;
  }
  #brand .inner .wrap article:nth-of-type(4) {
    width: 100%;
  }
  #banner {
    padding: 100px 30px;
  }
  #banner .inner {
    width: 100%;
  }
  #comments {
    padding: 100px 30px;
  }
  #comments .inner {
    width: 100%;
  }
  #footer {
    padding: 50px 30px;
  }
  #footer .inner {
    width: 100%;
  }
}
@media screen and (max-width: 539px) {
  #visual img {
    width: 100%;
    height: 500px;
  }
  #visual .inner h1 {
    font-size: 80px;
  }
  #news .inner .wrap article {
    width: 100%;
    margin-right: 0%;
  }
  #news .inner .wrap article .pic {
    height: 30vmax;
  }
  #brand .inner .wrap article:nth-of-type(1) {
    width: 100%;
    height: 400px;
    padding: 50px;
    margin-right: 0%;
    margin-bottom: 20px;
  }
  #brand .inner .wrap article:nth-of-type(2) {
    width: 100%;
  }
  #brand .inner .wrap article:nth-of-type(3) {
    width: 100%;
  }
  #footer .inner h1 {
    margin-bottom: 10px;
  }
  #footer .inner ul {
    width: 100%;
  }
  #footer .inner ul li {
    margin-left: 0px;
    margin: 5px;
  }
}

/*# sourceMappingURL=style.css.map */
