// design Guide
$keycolor: rgb(2, 126, 196);
$tablet: 1179px;
$mobile: 539px;

.about {
	background-color: #fff;
	.sub_visual {
		background: linear-gradient(-45deg, skyblue, rgb(192, 213, 255));
	}
	.inner {
		.content {
			&::after {
				content: '';
				display: block;
				clear: both;
			}
			width: 100%;
			height: 40vh;

			.txt {
				// border: 1px solid green;
				position: absolute;
				width: 28%;
				height: 150px;
				float: right;
				margin-top: 100px;
				position: relative;
				
				p {
					// font-style: oblique;
					font-size: 14px;
					font-family: 'Work Sans', sans-serif;
					line-height: 1.2;
					color: #555;
					position: absolute;
					top: 0;
					left: 0;
					margin-top: 10px;
				}
			}

			.wrap {
				position: relative;
				width: 100%;
				height: 25vh;
				float: right;
				margin-bottom: 250px;				
				.aboutVisual {
					ul {
						width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					> img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						filter: grayscale(1);						
						transition: 0.5s;
						&:hover {		
							cursor: pointer;					
							filter: grayscale(0);
						}
					}
				}					
			}
		}			
	}
		.members {
			width: 100%;
			position: relative;
			&::after {
				content: '';
				display: block;
				clear: both;
			}
			> h2 {
				// border-bottom: 1px solid #eee;
				font-size: 30px;
				font-family: 'open Sans';
				color: #333;
				margin-bottom: 80px;
				margin-left: 10px;
				// &::after {
				// 	content: '';
				// 	display: block;
				// 	width: 185px;
				// 	height: 1px;
				// 	background: $keycolor;
				// 	position: absolute;
				// 	top: 210px;
				// 	// margin-left: 10px;
				// }
			}
			>.wrap {
				> article {
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					float: left;

					&:nth-of-type(1) {
						width: 32%;
						margin-right: 2%;
					}
					&:nth-of-type(2) {
						width: 32%;
						margin-right: 2%;
						border-top: 1px solid $keycolor;
						margin-bottom: 50px;
					}
					&:nth-of-type(3) {
						width: 32%;
						border-top: 1px solid $keycolor;
						margin-bottom: 50px;
					}
					&:nth-of-type(4) {
						width: 24%;
						margin-right: calc(4% / 3);
						border-bottom: 1px solid $keycolor;
					}
					&:nth-of-type(5) {
						width: 24%;
						margin-right: calc(4% / 3);
						border-bottom: 1px solid $keycolor;
					}
					&:nth-of-type(6) {
						width: 24%;
						margin-right: calc(4% / 3);
						border-top: none;
						border-bottom: 1px solid $keycolor;
					}
					&:nth-of-type(7) {
						width: 24%;
						border-bottom: 1px solid $keycolor;
					}
					.box {
						width: 100%;
						float: left;
						padding-left: 10px;

						.txtBox {
							margin-top: 50px;
							li {
								width: 100%;
								margin-top: 0px;
								i {
									font-size: 20px;
									color: #777;
								}
							}
							> p {
								font-style: oblique;
								font-size: 18px;
								font-family: 'Work Sans', sans-serif;
								color: #888;
								> span {
									float: left;
									font-size: 30px;
									font-family: 'Merriweather', serif;
									color: #777;
								}
							}
						}
					}
					.pic {
						width: 100%;
						height: 20vh;
						overflow: hidden;
						margin-bottom: 0px;

						img {
							filter: grayscale(1);
							width: 100%;
							height: 100%;
							object-fit: cover;
							transition: 0.5s;
							cursor: pointer;
							&:hover {
								filter: grayscale(0);
							}
						}
					}
					h2 {
						padding-top: 10px;
						padding-left: 10px;
						text-align: center;
						> a {
							// background-color: #fff;
							font-family: 'Open Sans', sans-serif;
							font: 22px/1;
							color: #333;
						}
					}
					P {
						padding-top: 10px;
						margin-right: 10px;
						margin-top: 8px;
						margin-bottom: 10px;
						font: 10px/1.2;
						color: #555;
					}
					span {
						width: 100%;
						font-family: 'Work Sans', sans-serif;
						font-size: 13px;
						color: #777;
						margin-left: 10px;
						margin-bottom: 20px;
					}
					.icon {
						position: relative;
						padding: 2px;
						margin-left: 10px;
						margin-bottom: 10px;
						i {
							font-size: 13px;
							color: #aaa;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.about {
		.inner {
			width: 100%;
			padding: 0px 30px;
			.content {
				.txt {
					width: 100%;
				}
				>.wrap {
					width: 100%;
					margin-top: 0px;
					margin-bottom: 100px;	

				}
			}
			.members {
				>h2{
					// border: 1px solid red;
					margin: 0;
				}
				>.wrap {
					> article {
						display: flex;
						flex-wrap: wrap;
						justify-content: space-between;
						float: left;
						margin-bottom: 50px;

						&:nth-of-type(1) {
							width: 100%;
							margin-right: 0%;
							// margin-bottom: 30px;
							border-bottom: none;
						}

						&:nth-of-type(2) {
							width: 48%;
							margin-right: 4%;
							border-bottom: none;
							// border-bottom: 1px solid $keycolor;
						}
						&:nth-of-type(3) {
							width: 48%;
							margin-right: 0%;
							border-top: 1px solid $keycolor;
							border-bottom: none;
						}

						&:nth-of-type(4) {
							width: 48%;
							margin-right: 4%;
							border-top: 1px solid $keycolor;
							border-bottom: none;
						}
						&:nth-of-type(5) {
							width: 48%;
							margin-right: 0%;
							border-top: 1px solid $keycolor;
							border-bottom: none;
						}

						&:nth-of-type(6) {
							width: 48%;
							margin-right: 4%;
							border-top: 1px solid $keycolor;
							border-bottom: none;
							// border-bottom: 1px solid $keycolor;
						}
						&:nth-of-type(7) {
							width: 48%;
							border-top: 1px solid $keycolor;
							border-bottom: none;
						}
						.box {
							width: 100%;
							float: left;
							padding-left: 10px;

							.txtBox {
								margin-top: 50px;
								li {
									width: 100%;
									margin-top: 0px;
									i {
										font-size: 20px;
										color: #777;
									}
								}
								> p {
									font-style: oblique;
									font-size: 18px;
									font-family: 'Work Sans', sans-serif;
									color: #888;
									> span {
										float: left;
										font-size: 30px;
										font-family: 'Merriweather', serif;
										color: #777;
									}
								}
							}
						}
						.pic {
							width: 100%;
							height: 20vh;
							overflow: hidden;
							margin-bottom: 0px;

							img {
								filter: grayscale(1);
								width: 100%;
								height: 100%;
								object-fit: cover;
								transition: 0.5s;
								cursor: pointer;
								&:hover {
									filter: grayscale(0);
								}
							}
						}
						h2 {
							padding-top: 10px;
							padding-left: 10px;
							text-align: center;
							> a {
								// background-color: #fff;
								font-family: 'Open Sans', sans-serif;
								font: 22px/1;
								color: #333;
							}
						}
						P {
							padding-top: 10px;
							margin-right: 10px;
							margin-top: 8px;
							margin-bottom: 10px;
							font: 10px/1.2;
							color: #555;
						}
						span {
							width: 100%;
							font-family: 'Work Sans', sans-serif;
							font-size: 13px;
							color: #777;
							margin-left: 10px;
							margin-bottom: 20px;
						}
						.icon {
							position: relative;
							padding: 2px;
							margin-left: 10px;
							margin-bottom: 10px;
							i {
								font-size: 13px;
								color: #aaa;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.about {
		.inner {
			.content {
				.txt {
					height: 250px;
				}
				>.wrap {
					margin-top: -100px;
					// margin-bottom: 80px;	
				}
			}
			.members {
				>.wrap {					
					> article {
						width: 100% !important;
						margin-right: 0% !important;
						border-bottom: 1px solid $keycolor;
					}
				}
			}
		}
	}
}
