// design Guide
$keycolor: rgb(2, 126, 196);
$tablet: 1179px;
$mobile: 539px;

.department {
	.sub_visual {
		background: skyblue;
	}
	.wrap {
		
		width: 100%;
		// padding: 200px 0;
		&::after {
			content: '';
			display: block;
			clear: both;
		}
		article {
			border-top: 1px solid #999;
			padding: 10px 0px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			width: calc(100% / 4 ) - 2% ;
			float: left;
			margin-right: 20px;
			margin-top: 50px;
			// &:nth-of-type(3n) {
			// 	margin-right: 0px;
			// }
			.pic {
				width: 100%;
				height: 38vh;
				overflow: hidden;
				margin-bottom: 20px;
				img {
					filter: grayscale(1);
					width: 100%;
					height: 100%;
					object-fit: cover;
					transition: 0.5s;
					cursor: pointer;
					&:hover {
						filter: grayscale(0);

					}
				}
			}
			h2 {
				padding-left: 10px ;
				text-align: center;
				// margin-bottom: 5px;
				a {
					font-family: 'Open Sans', sans-serif;
					font: 22px/1;
					color: #333;
				}
			}
			P {
				// text-align: center;
				margin-right: 10px;
				margin-top: 8px;
				margin-bottom: 100px;
				font: 10px/1.2;
				color: #555;
			}
			span {
				width: 100%;
				font-family: 'Work Sans', sans-serif;
				font-size: 13px;
				color: #777;
				margin-left: 10px;
				margin-top: -70px;
			}
			.icon {
				// margin-left: 2vw;
				position: relative;
				font-size: 13px;
				color: #aaa;
				padding: 2px;
				margin-left: 10px;
				border-bottom: 1px solid #ddd;

			}
		}
	}
}

@media screen and (max-width: $tablet) {
	// 미디어쿼리 확인 필!
	.department {
		.inner {
			width: 100%;
			margin-right: 0%;
			padding: 0px 30px;
			.wrap {
				article {
					width: 49%;
					margin-right: 2%;
					&:nth-of-type(2n) {
						margin-right: 0;
					}
					.pic {
						height: 25vmax;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.department {
		.inner {
			// width: 100%;
			.wrap {
				article {
					width: 100%;
				}
			}
		}
	}
}
