// design Guide
$keycolor: rgb(2, 126, 196);
$tablet: 1179px;
$mobile: 539px;

.department {
	.sub_visual {
		background: skyblue;
	}
	.wrap {
		width: 100%;
		// padding: 200px 0;
		&::after {
			content: '';
			display: block;
			clear: both;
		}
		opacity: 0;
		transform: translateY(100px);
		transition: 1s;
		&.on {
			opacity: 1;
			transform: translateY(0px);  //전환효과 어디서 줘야 보일까요?
		}
		article {
			width: 380px;
			float: left;
			margin-right: 20px;
			margin-top: 50px;
			&:nth-of-type(3n) {
				margin-right: 0px;
			}
			.pic {
				width: 100%;
				height: 380px;
				// border-radius: 50%;
				overflow: hidden;
				filter: grayscale(1);
				margin-bottom: 20px;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
			h2 {
				text-align: center;
				margin-bottom: 5px;
				a {
					font: 22px/1;
					color: #444;
				}
			}
			P {
				text-align: center;
				margin-bottom: 100px;
				font: 10px/1.2;
				color: #777;
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	// 미디어쿼리 확인 필!
	.department {
		.inner {
			width: 100%;
			padding: 0px 30px;
			.wrap {
				article {
					width: 49%;
					margin-right: 2%;
					&:nth-of-type(2n) {
						margin-right: 0;
					}
					.pic {
						height: 25vmax;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.department {
		.inner {
			// width: 100%;
			.wrap {
				article {
					width: 100%;
				}
			}
		}
	}
}
