// design Guide
$keycolor: rgb(2, 126, 196);
$tablet: 1179px;
$mobile: 539px;

.location {
	width: 100%; //전체너비를 뜻하는 100%
	.sub_visual {
		background: skyblue;
	}
	.inner {
		
		.mapinfo{
			background: rgb(124, 175, 251);
			#map {
			width: 100%; //여기map의 100% 1180
			height: 550px;			
			border: 2px solid $keycolor;
			border-radius: 5px;
			margin-top: 60px;
			margin-bottom: 100px;
			filter:  invert(1) grayscale(0.9) brightness(0.8);
			opacity: 0.6;
			}
		}				
	}
}
//tablet
@media screen and (max-width: $tablet) {
	// location
	.location {
		.inner {
			width: 100%;
			padding: 0px 30px;
			margin: 0 auto;
		}
		.mapinfo {
			#map {
			width: 100%;
			}
		}		
	}
}
