// design Guide
$keycolor: rgb(2, 126, 196);
$tablet: 1179px;
$mobile: 539px;

.location {
	width: 100%; //전체너비를 뜻하는 100%
	margin-bottom: 100px;
	.sub_visual {
		background: linear-gradient(-45deg, skyblue, rgb(192, 213, 255));
	}
	.inner {
		// width: 100%;

		.mapinfo{
			background: rgb(124, 175, 251);
			width: 100%;
			top: calc(75% - 100px);
				left: calc(50% - 100px);
			#map {
			width: 100%; //여기map의 100% 1180
			height: 550px;			
			border: 2px solid $keycolor;
			border-radius: 5px;
			margin-top: 60px;
			margin-bottom: 30px;
			// top: calc(75% - 100px);
			// left: calc(50% - 100px);
			filter:  invert(1) grayscale(0.9) brightness(0.8);
			opacity: 0.6;
			}
			.info{
				// border-bottom: 1px solid aliceblue;
				width: 160px;
				height:160px;
				background: skyblue;
				border-radius: 50%;
				position: absolute;
				// top: calc(60% - 80px);    //모니터 사양에 따라 기준점이 달라짐;; 
				top: 650px;  //기준점 고정 시킴 
				left: calc(50% - 80px);
				box-shadow: 10px 10px 20px rgba(0,0,0,0.3);
				cursor: pointer;
				transition: 0.5s;
				>h2 {
					position: absolute;
					width: 100%;
					font-family: 'Work Sans', sans-serif;
					font-size: 16PX;
					color: aliceblue;
					// padding: 5vw ;
					padding-top: 40px;
					text-align: center;
					z-index: 5;
					
					span {
						font-family: 'Open Sans', sans-serif;
						font-size: 24px;
						border-top:1px solid aliceblue ;

					}
				}

		&::before {
			content: '';
			display: block;
			width: 50px;
			height: 50px;
			background: skyblue;
			transform: skewX(-20deg);
			position: absolute;
			top: 16px;
			right: 20px;
			z-index: 3;
		}

		&.off {
			opacity: 0;
			margin-top: -500px;
		}
		
			}
		}
		// .wrap {
		// 	display:flex;
		// 	.text{
		// 		width:30%;
		// 		h2 {
		// 			// font-family: 'Open Sans', sans-serif;
		// 			float: right;
		// 			font-size: 80px;
		// 			font-style: italic;
		// 			margin-top: -80px;
		// 			margin-left: 20px;
		// 			color: skyblue;
		// 		}
		// 		ul {
		// 			li{
		// 				// position: relative;
		// 				// display: block;
		// 				// float: right;
		// 				margin-bottom: 20px;
		// 				font-size: 20px;
		// 				font-weight: bold;
		// 				letter-spacing: 1px;
		// 				i {
		// 					width: 50px;
		// 					height: 50px;
		// 					border: 1px solid skyblue;
		// 					color: aqua;
		// 					text-align: center;

		// 				}
		// 			}
		// 		}
		// 	}
		// } 
		> p{
			padding-left: 20px;
			font:  15px/20px 'Work Sans', sans-serif;
			color: skyblue;
			margin-bottom: 50px;
			span {
				font-family:'Open Sans', sans-serif;
				font-size: 40px;
				letter-spacing: 1px;
				font-style: oblique;
			}

		}
		.txt {
			width: 100%;
			float: left;
			padding-bottom: 100px;
			> div {
				width: calc(100% / 4) ;
				height: 200px;
				float: left;
				padding: 20px;
				display: flex;
				flex-direction: column;
				li{
					i {
						color: $keycolor;
						font-size: 15px;
						margin-bottom: 5px;
					}
					
				}
				>p {
					border-bottom: 1px solid $keycolor;
					font-family: 'Open Sans', sans-serif;
					font-style: oblique;
					font-size: 14px;
					color: $keycolor;
					margin-bottom: 10px;
				}
				>span {
					font-family: 'Open Sans', sans-serif;
					font-size: 13px;
					color:#777;
				}
			}
		}				
	}
}
//tablet
@media screen and (max-width: $tablet) {
	// location
	.location {
		.inner {
			width: 100%;
			padding: 0px 30px;
			margin: 0 auto;
		}
		.mapinfo {
			#map {
			width: 100%;
			}
		}		
	}
}
