* {
    margin: 0px;
    padding: 0px;
}
ul,
ol,
li {
    list-style: none;
}
a {
    text-decoration: none;
}

.wrap {
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}

.hidden {
    position: absolute;
    top:-99999px;
    opacity: 0;
}