* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
ul,
ol,
li {
    list-style: none;
}
a {
    text-decoration: none;
}

.hidden {   //오타 조심! 
    position: absolute;
    top : -99999px;
    opacity: 0;
}

.wrap::after {
    content: "";
    display: block;
    clear: both;
}

fieldset {
	border: none;
}
table {
	border-collapse: collapse;
}
