// design Guide
$keycolor: rgb(2, 126, 196);
$tablet: 1179px;
$mobile: 539px;

.youtube {
	.sub_visual {
		background: skyblue;
	}
	.inner {
		.vidList {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-content: flex-start;
			margin-top: 80px;
			// opacity: 0;
			// transform: translateY(100px);
			// transition: 1s;
			// &.on {
			// 	opacity: 1;
			// 	transform: translateY(0px);   //넣는 순간 안보임;;;
			// }
			article {
				width: calc(100% / 3)-1%;
				// padding: 10px;
				// margin-left: 2%;
				&:nth-of-type(3n){
					margin-right: 0px;
				}
				height: 340px;
				border: 1px solid $keycolor;
				box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
				// border-radius: 5px;
				margin-bottom: 40px;
				// padding: 5px 5px 5px;
				// padding-left: 10px;
				.pic {
					display: block;
					width: 100%;
					height: 75%;
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
				.con {
					width: 100%;
					height: 20%;
					padding: 10px 20px 0px;
					// padding-left: 20px;
					h2 {
						font-size: 14px;
						font-weight: 800;
						color: $keycolor;
						margin-bottom: 0px;
					}
					p {
						font-size: 12px;
						color: #888;
						font-weight: 600;
						margin-bottom: 0px;
					}
					span {
						font-size: 11px;
						font-weight: 500;
						color: #777;
					}
				}
			}
		}

		figure.pop {
			width: 100%;
			height: 100vh;
			position: fixed;
			top: 0;
			left: 0;
			background: rgba(0, 0, 0, 0.8);
			overflow: hidden;
			padding: 5vw;
			display: flex;
			justify-content: center;
			align-items: center;
			.btnClose {
				position: absolute;
				top: 50px;
				right: 50px;
				color: #fff;
				cursor: pointer;
			}
		}
	}
}
@media screen and (max-width: $tablet) {
	.youtube {
		.inner {
			width: 100%;
			padding: 0px 30px;
			.vidList {
				article {
					width: 49%;
					margin-right: 2%;
					&:nth-of-type(2n) {
						margin-right: 0px;
					}
					// .pic {
					// 	height: 20vmax;
					// }
				}
			}
		}
	}
}
@media screen and (max-width: $mobile) {
	.youtube {
		.inner {
			width: 100%;
			.vidList {
				article {
					width: 100%; //짝수 번째 그림이 아래로 이동시 넓이값이 더 커보임;;
					// .pic {
					// 	height: 30vmax;
					// }
					// .con {
					// 	height: 25%;
					// }
				}
			}
		}
	}
}
