// design Guide
$keycolor: rgb(2, 126, 196);
$tablet: 1179px;
$mobile: 539px;

.youtube {
	.sub_visual {
		background: linear-gradient(-45deg, skyblue, rgb(192, 213, 255));
	}
	.inner {
		.vidList {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-content: flex-start;
			margin-top: 80px;

			article {
				margin-top: 50px;
				border-top: 1px solid #999;
				padding: 10px 0px;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				width: calc(100% / 2)-1%;
				// padding: 10px;
				// margin-left: 2%;
				&:nth-of-type(2n){
					margin-right: 0px;
				}
				height: 30vh;
				transition: 0.5s;						
						&:hover {
							cursor: pointer;
							transform: scale(1.05);
						}
				.pic {
					display: block;
					width: 100%;
					height: 75%;
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						
					}
				}
				.con {
					width: 100%;
					height: 100%;
					padding: 10px 10px 0px;
					// padding-left: 20px;
					h2 {
						font-size: 16px;
						font-family:'Open Sans', sans-serif;
						color: #333;
						margin-bottom: 3px;
					}
					p {
						font-size: 14px;
						color: #333;
						font-family:'Work Sans', sans-serif;


					}
					span {
						font-family:'Open Sans', sans-serif;
						font-size: 11px;
						color: $keycolor;
					}
				}
			}
		}

		figure.pop {
			width: 100%;
			height: 100vh;
			position: fixed;
			top: 0;
			left: 0;
			background: rgba(0, 0, 0, 0.8);
			overflow: hidden;
			padding: 3vw;
			display: flex;
			justify-content: center;
			align-items: center;
			.btnClose {
				position: absolute;
				top: 50px;
				right: 50px;
				color: #fff;
				cursor: pointer;
			}
		}
	}
}
@media screen and (max-width: $tablet) {
	.youtube {
		.inner {
			width: 100%;
			padding: 0px 30px;
			.vidList {
				article {
					width: 49%;
					margin-right: 0%;
					&:nth-of-type(2n) {
						margin-right: 0px;
					}
					// .pic {
					// 	height: 20vmax;
					// }
				}
			}
		}
	}
}
@media screen and (max-width: $mobile) {
	.youtube {
		.inner {
			width: 100%;
			.vidList {
				article {
					width: 100%; //짝수 번째 그림이 아래로 이동시 넓이값이 더 커보임;;
					// .pic {
					// 	height: 30vmax;
					// }
					// .con {
					// 	height: 25%;
					// }
				}
			}
		}
	}
}
