@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');

// design Guide
$keycolor :rgb(2, 126, 196);
$tablet : 1179px;
$mobile : 539px;


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
ul,
ol,
li {
    list-style: none;
}
a {
    text-decoration: none;
}

.hodden {
    position: absolute;
    top : -99999px;
    opacity: 0;
}

.wrap::after {
    content: "";
    display: block;
    clear: both;
}

// @mixin btnStyle {
//     display: block;
//     width: 170px;
//     padding: 20px;
//     font-size: 20px;
//     color: #fff;
//     border-radius: 5px;
//     background-color: #777;
//     text-align: center;
//     transition: 0.4s;
//     &:hover {
//     background-color: #fff;
//     }
// }


//header
#header {
    width: 100%;
    border-bottom: 1px solid #ddd;
    // position: relative; // 풀화면 
    // display: flex;   // 풀화면 
    // justify-content: center;   // 화면을 위로 꽉 채워 올리면 세로스크롤을 내렸을때 ci와 gnb함께 내려감;;;
    // z-index: 10;
    // background: #999;
    .inner {
        width: 1180px;
        height: 100px;
        margin: 0 auto;
        // position: fixed;    //풀화면 
        position: relative;
        > h1 {
            position: absolute;
            left: 0;
            bottom: 10px;
            > a {
                font-size: 24px;
                font-weight: 600;
                // color: rgba(255,255,255,0.8); //풀화면 
                color : $keycolor; // 스크롤 내렸을때 함께 딸려 내려가는 현상 방지하여 (디자인2안)헤더칸 보일때 2안으로 컬러 입힘
            }
        }
        .menuWeb {
            #gnb {
                position: absolute;
                right: 0;
                bottom: 0;
                li {
                    float: left;
                    a {
                        display: block;
                        padding: 12px 18px;
                        font-size: 13px;
                        font-weight: 550;
                        // color:rgba(255,255,255,0.8); //풀화면 
                        color : $keycolor;
                        &:hover {
                            // color: rgb(25, 2, 154);    // 풀화면
                            color: rgb(255, 204, 0);
                        }
                    }
                }
            }
            // .util {
            //     position: absolute;
            //     top: 20px;
            //     right: 40px;
            //     li {
            //         float: left;
            //         margin-left: 20px;
            //         a {
            //             font: 10px/1;
            //             color: #999;
            //         }
            //     }
            // }
        }
        .btnCall {
            // border: 1px solid red;
            position: absolute;
            right: 30px;
            top: 50%;
            transform: translateY(-50%);  // 오타 조심!
            display: none;
            width: 20px;
            height: 20px;
            &::before {  // 왜 after와 span만 입력하면 사라지나 했는데 한칸 띄우기 조심;;;;
                content: "";
                display: block;
                width: 100%;
                height: 2px;
                background: $keycolor;
                position: absolute;
                top: 0;
                left: 0;
                transition: top 0.5s 0s, transform 0.5s 0.5s; 
                // z-index: 10;
            }
            &::after {
                content: "";
                display: block;
                width: 100%;
                height: 2px;
                background: $keycolor;
                position: absolute;
                bottom: 0;
                left: 0;
                transition: bottom 0.5s 0s, transform 0.5s 0.5s;
            }
            span {
                display: block;
                width: 100%;
                height: 2px;
                background: $keycolor;
                position: absolute;
                top: 50%;
                left: 0;
                margin-top: -1px;
                transition: 1s;
                text-indent: -9999px;
            }
            &.on {
                &::before {
                    top: 50%;
                    margin-top: -1px;
                    transform: rotate(45deg);
                
                }
                &::after {  //한칸 띄우기 조심!!
                    bottom: 50%;
                    margin-bottom: -1px;
                    transform:rotate(-45deg);
                }
                span {
                    transform: translateX(100%);
                    opacity: 0;
                }
            }
        }
        .menuMo {
            width: 220px;
            height: 100vh;
            background: rgb(134, 195, 241);
            position: fixed;
            top:0;
            // left: -220px;
            padding: 35px 30px;
            z-index: 10;
            transition: 0.5s;
            // display: none;
            &.on {
                left: 0;
            }
            h1 {
                padding-bottom: 20px;
                border-bottom: 1px solid #fff;
                a {
                    display: block;
                    font-size: 20px;
                    color: #fff;
                    text-align: center;
                }
                span {
                    display: block;
                    font-size: 12px;
                    color: #fff;
                    text-align: center;
                }
            }
            #gnbMo {
                li {   //뭐가 문제일까?? 지웠다 썼다 컴퓨터 껐다 켰다 ....할수 있는건 다했다....
                    a {
                        display: block;
                        width: 100%;
                        padding: 20px 0;
                        border-bottom: 1px solid #fff;
                        font-size: 14px;
                        color: #fff;
                        text-align: center;
                    }
                }
            }
        }

    }
}

//visyal
#visual {
    width: 100%;
    height: calc(100vh - 101px);
    overflow: hidden;
    background: #ddd;
    img {
        width: 100%;
        // height: 600px;
        height: 100%;
        object-fit: cover;
        // opacity: ;
    }
    .inner {
        width: 1180px;
        // height: 600px;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        h1 {
            font-style: italic;
            font-size: 100px;
            color: rgba(255,255,255,0.9);
            // margin-bottom: 5px;
        }
        // span {
        //     font-size: 24px;
        //     color: #fff;
        //     // color:rgba(255,255,255,0.8) ;
        //     // text-align: left;
        // }
        p {
            font-size: 30px;
            color: rgba(255,255,255,0.9);
            margin-bottom: 80px;
        }
        a {
            display: block;
            width:310px;
            height: 28px;
            margin: 0 auto;
            border: 1px solid rgba(255,255,255,0.5);
            font: bold 10px/40px;
            color: #fff;
            text-align: center;
            &:hover {
                background:rgba(255,255,255,0.5);
                color: $keycolor;
                font-weight: 600;
            }
        }
    }
}

//news
#news {
    width: 100%;
    padding: 200px 0;
    .inner {
        width: 1180px;
        margin: 0 auto;
        position: relative;
        h1 {
            font-size: 30px;
            color: $keycolor;
            text-align: center;
            margin-bottom: 50px;
        }
        .wrap {
            width: 100%;
            article {
                float: left;
                width: 280px;
                margin-right: 20px;  
                &:last-of-type {
                    margin-right: 0; 
                }
                .pic {
                    width: 100%;
                    height: 120px;    // 다양한 높이로 진행해 보았으나 모니터 스크린의 가로 비율로 디자인하는게 나음;;
                    // border-radius: 5px; 
                    // border: 2px solid rgb(2, 126, 196);
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: 0.5s;
                    }
                    
                    &:hover {
                        cursor: pointer;
                        img {
                            transform: scale(1.2);
                        }
                    }
                    
                }
                h2 {
                    margin-bottom: 10px;
                    a {
                        font-size: 18px;
                        color: $keycolor;
                        
                    }
                }
                p {
                    font-size: 14px;
                    color: #777;
                    // margin-bottom: 50px;
                }
            }
        }
    }
}

//brand
#brand {
    width: 100%;
    padding: 200px 0;
    background: #eee;
    .inner {
        width: 1180px;
        margin: 0 auto;
        position: relative;
        h1 {
            font-size: 30px ; 
            color:  $keycolor;
            text-align: center;
            margin-bottom: 50px;
        }
        .wrap {
            width: 100%;
            article {
                &:nth-of-type(1) {
                    width: 380px;
                    height: 620px;
                    background: rgb(199, 209, 216);
                    // border-radius: 5px;
                    float: left;
                    margin-right: 20px;    
                    padding: 170px 50px 0;
                    text-align: center;
                    i {
                        font-size: 100px;
                        color: #fff;
                        margin-bottom: 20px;
                    }
                    h2 {
                        font-size: 20px ;
                        color: #fff;
                        margin-bottom: 5px;
                    }
                    p {
                        font-size: 14px;
                        color: #fff;
                        margin-bottom: 30px;
                    }
                    a {
                        display: block;
                        width: 150px;
                        height: 24px;
                        font-size: 12px;
                        color: #fff;
                        border: 1px solid #fff;
                        margin: 0 auto;
                    }
                }
                &:nth-of-type(2) {
                    width: 380px;
                    height: 300px;
                    float: left;
                    margin-right: 20px;    
                    img {
                        width: 100%;
                        height: 100%;
                        // border-radius: 5px; //보더값을 주고 진행해보니 부드럽기는 하나 신뢰감을 주는 기업홈페이지에서는 직각이 더나음 pass
                        object-fit: cover;
                    }
                }
                &:nth-of-type(3) {
                    width: 380px;
                    height: 300px;
                    float: left;
                    // margin-right: 0px;
                    img {
                        width: 100%;
                        height: 100%;
                        // border-radius: 5px;
                        object-fit: cover;
                    }
                }
                &:nth-of-type(4) {
                    width: 780px;
                    height: 300px;
                    float: left;
                    margin-top: 20px;
                    position: relative;
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 5px;
                        object-fit: cover;
                    }
                    &::after {
                        content: "";
                        display: block;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        // filter: grayscale(100%); 그레이 스케일 넣고 싶은데 안됨;;;
                        background: linear-gradient(
                            -45deg,
                        rgba(192, 213, 255, 0.4),
                        rgba(208, 173, 230, 0.4)
                        );
                        opacity: 0;
                        transition: 0.5s;
                    }
                    &:hover {
                        cursor: pointer;
                        &::after {
                            opacity:1 ;
                        }
                    }
                }
            }
        }
    }
}

// banner
#banner {
    width: 100%;
    padding: 150px 0;
    background: url(../img/banner/pic3.jpg) no-repeat center/cover fixed; // 포토샵에서 컬러 수정 완료 !
    .inner {
        width: 1180px;
        margin: 0 auto;
        // position: relative;
        h1 {
            font-size: 50px;
            font-style: italic;
            color: #fff;
            text-align: center;
            margin-bottom: 10px; 
        }
        p {
            font-size: 16px;
            color: #fff;
            text-align: center;
        }
        // .btnView {
        //     width: 100%;
        //     float: left;
        //     margin: 0 auto;
        //     @include btnStyle ;
        //     background-color: #fff;
        // }
        a { 
            display: block;
            margin: 0 auto;
            width: 310px;
            height: 24px;
            text-align: center;
            margin-top: 50px;
            // padding: 15px 20px;
            border: 1px solid #eee;
            font-size: 14px;
            color: #fff;
            & :hover {
                background: #fff;  // 호버 안됨 체크 할것 
                color: #333;
                font-weight: 500;
            }

        }
    }
}

//comment 
#comments {
    width: 100%;
    padding: 150px 0;
    background: #ddd;
    .inner {
        width: 1180px;
        margin: 0 auto;
        h1 {
            font-size: 30px;
            font-weight: 550;
            // color: #555;
            color: $keycolor;
            text-align: center;
            margin-bottom: 50px;
        }
        ul {
            width: 100%;
            li {
                width: 85%;
                margin: 0 auto;
                border: 1px solid $keycolor;
                // border: 2px solid #555;
                border-radius: 3px;
                padding: 10px 30px;
                margin-bottom: 14px;
                &::after {
                    content: "";
                    display: block;
                    clear: both;
                }
                &:hover {
                    background: $keycolor; 
                    // background: rgba(255,255,255,0.5);  //부드럽게 호버 되고 싶어 진행 했지만, 누구나 인지할수 있는 페이지로 인지성 올리려면 pass
                    // border: 2px solid rgba(2, 126, 196,0.5); 
                    a {
                        color: #fff;
                        // color: rgb(2, 126, 196);
                        font-weight: 700;
                        transform: scale(1.05);
                    }
                    span {
                        color: #fff;
                        // color: rgb(2, 126, 196);
                        font-weight: 700;
                        transform: scale(1.05);
                    }
                }
                a {
                    font-size: 14px;
                    color: #777;
                    color: $keycolor;
                    float: left ;
                }
                span {
                    font-size: 14px;
                    color: #888;
                    color: $keycolor;
                    float: right;
                }
            }
        }
    }
}

//footer 
#footer {
    width: 100%;
    padding: 100px 0;
    background: #444;
    .inner {
        width: 1180px;
        margin: 0 auto;
        &::after {
            content: "";
            display: block;
            clear: both;
        }
        h1 {  //ci 로고 대체 할지 고민
            font-size: 30px;
            color: #888;
            float: left;
        }
        ul {
            float: right;
            li {   // policy
                float: left;
                margin-left: 20px;
                margin-top: 15px;
                a {
                    font-size: 13px;
                    font-weight: 600;
                    color: #777;
                }
            }
        }
        address {
            float: left; 
            width: 100%;
            font-size: 14px;
            font-style: normal ;
            // font-weight: 500;
            color: #888;
            margin-bottom: 15px;
            margin-top: 15px;
            padding-top: 20px;
            border-top: 1px solid #888;
        }
        p {   //copyright
            float: left;
            width: 100%;
            font-size: 12px;
            color: #777;
        }
    }
}

//tablet 
@media screen and (max-width: $tablet) {
    // headeer 
    #header {
        .inner {
            width: 100%;
            height: 100px;
            h1 {
                left: 20px;
            }
            .menuMo {
                display: none;
            }
            .btnCall {
                display: block;
            }
            .menuMo {
                display: block;
            }
        }
    }
    
}
