@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');

// design Guide
// $keyColor :rgb(34, 90, 193);
// color :rgb(2, 126, 196);

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
ul,
ol,
li {
    list-style: none;
}
a {
    text-decoration: none;
}

.hodden {
    position: absolute;
    top : -99999px;
    opacity: 0;
}

.wrap::after {
    content: "";
    display: block;
    clear: both;
}

//header
#header {
    width: 100%;
    border-bottom: 1px solid #ddd;
    // position: relative; // 풀화면 
    // display: flex;   // 풀화면 
    // justify-content: center;   // 화면을 위로 꽉 채워 올리면 세로스크롤을 내렸을때 ci와 gnb함께 내려감;;;
    z-index: 10;
    // background: #999;
    .inner {
        width: 1180px;
        height: 100px;
        margin: 0 auto;
        // position: fixed;    //풀화면 
        position: relative;
        >h1 {
            position: absolute;
            left: 0;
            bottom: 10px;
            >a {
                font-size: 24px;
                font-weight: 600;
                // color: rgba(255,255,255,0.8); //풀화면 
                color :rgb(2, 126, 196); // 스크롤 내렸을때 함께 딸려 내려가는 현상 방지하여 (디자인2안)헤더칸 보일때 2안으로 컬러 입힘
            }
        }
        .menuWeb {
            #gnb {
                position: absolute;
                right: 0;
                bottom: 0;
                li {
                    float: left;
                    a {
                        display: block;
                        padding: 12px 18px;
                        font-size: 13px;
                        font-weight: 550;
                        // color:rgba(255,255,255,0.8); //풀화면 
                        color :rgb(2, 126, 196);
                        &:hover {
                            // color: rgb(25, 2, 154);    // 풀화면
                            color: rgb(253, 216, 4);
                        }
                    }
                }
            }
            // .util {
            //     position: absolute;
            //     top: 20px;
            //     right: 40px;
            //     li {
            //         float: left;
            //         margin-left: 20px;
            //         a {
            //             font: 10px/1;
            //             color: #999;
            //         }
            //     }
            // }
        }
        .btnCall {
            position: absolute;
            right: 30px;
            right: 30px;
            top: 50px;
            transform: rotateY(-50%);
            display: none;
            width: 20px;
            height: 20px;
            & ::before {
                content: "";
                display: block;
                width: 100%;
                height: 2px;
                background: #fff;
                position: absolute;
                top: 0;
                left: 0;
                transition: top 0.5s 0s, transform 0.5s 0.5s;
            }
            &::after {
                content: "";
                display: block;
                width: 100%;
                height: 2px;
                background: #fff;
                position: absolute;
                bottom: 0;
                left: 0;
                transition: bottom 0.5s 0s, transform 0.5s 0.5s;
            }
            span {
                display: block;
                width: 100%;
                height: 2px;
                background: #fff;
                position: absolute;
                top: 50%;
                left: 0;
                margin-top: -1px;
                transition: 1s;
                text-indent: -9999px;
            }
            &.on {
                &::before {
                    top: 50%;
                    margin-top: -1px;
                    transform: rotate(45deg);
                }
                & ::after {
                    bottom: 50%;
                    margin-bottom: -1px;
                    transform:rotate(-45deg);
                }
                span {
                    transform: translateX(100%);
                    opacity: 0;
                }
            }
        }
        .menuMo {
            width: 270px;
            height: 100vh;
            background: #333;
            position: fixed;
            top: 0;
            left: -270px;
            padding: 35px 30px;
            // z-index: 10;
            transition: 0.5s;
            &.on {
                left: 0;
            }
            h1 {
                padding-bottom: 30px;
                border-bottom: 1px solid #666;
                a {
                    display: block;
                    font: 24px/1;
                    // letter-spacing: 10;
                    color: #fff;
                    text-align: center;                    
                }
                span {
                    font-size: 12px;
                    color: #aaa;
                }
            }
            #gnbMo {
                li {
                    // font-size: 0;
                    a {
                        display: block;
                        width: 100%;
                        padding: 20px 0;
                        border-bottom: 1px solid #444;
                        // font-size: 12px;
                        font: bold 14px/1;
                        color: #888;
                        text-align: center;
                    }
                }
            }
        }
    }
}

//visyal
#visual {
    width: 100%;
    height: calc(100vh - 101px);
    overflow: hidden;
    background: #ddd;
    img {
        width: 100%;
        // height: 600px;
        height: 100%;
        object-fit: cover;
        // opacity: ;
    }
    .inner {
        width: 1180px;
        // height: 600px;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        h1 {
            font-style: italic;
            font-size: 100px;
            color: rgba(255,255,255,0.9);
            // margin-bottom: 5px;
        }
        // span {
        //     font-size: 24px;
        //     color: #fff;
        //     // color:rgba(255,255,255,0.8) ;
        //     // text-align: left;
        // }
        p {
            font-size: 30px;
            color: rgba(255,255,255,0.9);
            margin-bottom: 80px;
        }
        a {
            display: block;
            width:310px;
            height: 28px;
            margin: 0 auto;
            border: 1px solid rgba(255,255,255,0.5);
            font: bold 10px/40px;
            color: #fff;
            text-align: center;
            &:hover {
                background:rgba(255,255,255,0.5);
                color: rgb(2, 126, 196);
                font-weight: 600;
            }
        }
    }
}

//news
#news {
    width: 100%;
    padding: 200px 0;
    .inner {
        width: 1180px;
        margin: 0 auto;
        position: relative;
        h1 {
            font-size: 30px;
            color: rgb(2, 126, 196);
            text-align: center;
            margin-bottom: 50px;
        }
        .wrap {
            width: 100%;
            article {
                float: left;
                width: 280px;
                margin-right: 20px;  
                &:last-of-type {
                    margin-right: 0; 
                }
                .pic {
                    width: 100%;
                    height: 380px;  
                    border-radius: 5px; 
                    // border: 2px solid rgb(2, 126, 196);
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: 0.5s;
                    }
                    
                    &:hover {
                        cursor: pointer;
                        img {
                            transform: scale(1.2);
                        }
                    }
                    
                }
                h2 {
                    margin-bottom: 10px;
                    a {
                        font-size: 18px;
                        color: rgb(2, 126, 196);
                        
                    }
                }
                p {
                    font-size: 14px;
                    color: #777;
                    // margin-bottom: 50px;
                }
            }
        }
    }
}

//brand
#brand {
    width: 100%;
    padding: 200px 0;
    background: #eee;
    .inner {
        width: 1180px;
        margin: 0 auto;
        position: relative;
        h1 {
            font-size: 30px ; 
            color:  rgb(2, 126, 196);
            text-align: center;
            margin-bottom: 50px;
        }
        .wrap {
            width: 100%;
            article {
                &:nth-of-type(1) {
                    width: 380px;
                    height: 620px;
                    background: rgb(199, 209, 216);
                    border-radius: 5px;
                    float: left;
                    margin-right: 20px;    
                    padding: 170px 50px 0;
                    text-align: center;
                    i {
                        font-size: 100px;
                        color: #fff;
                        margin-bottom: 20px;
                    }
                    h2 {
                        font-size: 20px ;
                        color: #fff;
                        margin-bottom: 5px;
                    }
                    p {
                        font-size: 14px;
                        color: #fff;
                        margin-bottom: 30px;
                    }
                    a {
                        display: block;
                        width: 150px;
                        height: 24px;
                        font-size: 12px;
                        color: #fff;
                        border: 1px solid #fff;
                        margin: 0 auto;
                    }
                }
                &:nth-of-type(2) {
                    width: 380px;
                    height: 300px;
                    float: left;
                    margin-right: 20px;    
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 5px;
                        object-fit: cover;
                    }
                }
                &:nth-of-type(3) {
                    width: 380px;
                    height: 300px;
                    float: left;
                    // margin-right: 0px;
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 5px;
                        object-fit: cover;
                    }
                }
                &:nth-of-type(4) {
                    width: 780px;
                    height: 300px;
                    float: left;
                    margin-top: 20px;
                    position: relative;
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 5px;
                        object-fit: cover;
                    }
                    &::after {
                        content: "";
                        display: block;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        // filter: grayscale(100%); 그레이 스케일 넣고 싶은데 안됨;;;
                        background: linear-gradient(
                            -45deg,
                        rgba(192, 213, 255, 0.4),
                        rgba(208, 173, 230, 0.4)
                        );
                        opacity: 0;
                        transition: 0.5s;
                    }
                    &:hover {
                        cursor: pointer;
                        &::after {
                            opacity:1 ;
                        }
                    }
                }
            }
        }
    }
}

// banner
#banner {
    width: 100%;
    padding: 150px 0;
    background: url(../img/banner/pic3.jpg) no-repeat center/cover fixed; // 필터 효과 주기 
    .inner {
        width: 1180px;
        margin: 0 auto;
        // position: relative;
        h1 {
            font-size: 50px;
            font-style: italic;
            color: #fff;
            text-align: center;
            margin-bottom: 10px; 
        }
        p {
            font-size: 16px;
            color: #fff;
            text-align: center;
        }
    }
}

//comment 
#comments {
    width: 100%;
    padding: 150px 0;
    background: #ddd;
    .inner {
        width: 1180px;
        margin: 0 auto;
        h1 {
            font-size: 30px;
            font-weight: 550;
            // color: #555;
            color: rgb(2, 126, 196);
            text-align: center;
            margin-bottom: 50px;
        }
        ul {
            width: 100%;
            li {
                width: 85%;
                margin: 0 auto;
                border: 2px solid rgb(2, 126, 196);
                // border: 2px solid #555;
                border-radius: 3px;
                padding: 10px 30px;
                margin-bottom: 14px;
                &::after {
                    content: "";
                    display: block;
                    clear: both;
                }
                &:hover {
                    // background: rgba(2, 126, 196,0.5);
                    background: rgba(255,255,255,0.5);
                    border: 2px solid rgba(2, 126, 196,0.5);
                    a {
                        color: #fff;
                        color: rgb(2, 126, 196);
                        font-weight: 700;
                        transform: scale(1.1);
                    }
                    span {
                        color: #fff;
                        color: rgb(2, 126, 196);
                        font-weight: 700;
                        transform: scale(1.1);
                    }
                }
                a {
                    font-size: 14px;
                    color: #555;
                    float: left ;
                }
                span {
                    font-size: 14px;
                    columns: #888;
                    float: right;
                }
            }
        }
    }
}

//footer 
