@charset "utf-8";


/* common */
@import 'common/reset';
@import 'common/footer';
@import 'common/sub_page';

/* main */

@import 'main/header';
@import 'main/visual';
@import 'main/metro';
@import 'main/location';
@import 'main/scroll';


/* sub */
@import 'sub/about';
@import 'sub/community';
@import 'sub/gallery';
@import 'sub/join';
@import 'sub/youtube';
@import 'sub/location';


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&family=Work+Sans:wght@300;400&display=swap');

// design Guide
$keycolor: rgb(2, 126, 196);
$tablet: 1179px;
$tablet_S: 880px;
$mobile: 539px;












