//visyal
#visual {
	width: 100%;
	// height: calc(100vh - 101px); //
	height: 100vh;
	position: relative;
	overflow: hidden;
	background: #ddd;

	.panel {
		position: absolute;
		width: 100%;
		height: 100%;

		> li {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			transition: opacity 1s;
			z-index: 1;
			opacity: 0;

			&:nth-of-type(1) {
				background-image: url(../img/visual/pic1.jpg);
			}
			&:nth-of-type(2) {
				background-image: url(../img/visual/pic11.jpg);
			}
			&:nth-of-type(3) {
				background-image: url(../img/visual/pic3.jpg);
			}
			&:nth-of-type(4) {
				background-image: url(../img/visual/pic5.jpg);
			}
			&.on {
				opacity: 1;
				z-index: 2;
			}
		}
		.inner {
			width: 1180px;
			// height: 600px;
			margin: 0 auto;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			text-align: center;
			z-index: 2;
			h1 {
				// margin-top: 120px;    // 높이 출력 화면에서 확인해보기!
				font-style: italic;
				font-family: 'Open Sans', sans-serif;
				font-size: 100px;
				letter-spacing: 1px;
				color: rgba(255, 255, 255, 0.9);
				// margin-bottom: 5px;
			}
			p {
				font-family: 'Open Sans', sans-serif;
				font-size: 30px;
				color: rgba(255, 255, 255, 0.9);
				margin-bottom: 80px;
			}
			a {
				display: block;
				width: 310px;
				height: 28px;
				margin: 0 auto;
				border: 1px solid rgba(255, 255, 255, 0.5);
				font-family: 'Open Sans', sans-serif;
				font: 10px/40px;
				color: #fff;
				text-align: center;
				transition: 0.5s;
				&:hover {
					background: rgba(255, 255, 255, 0.5);
					color: $keycolor;
				}
			}
		}
	}
	.btns {
		position: absolute;
		left: 10vw;
		bottom: 10vh;
		display: flex;
		gap: 10px;
		z-index: 3;

		li {
			width: 50px;
			height: 5px;
			// border-radius: 1px;
			background: rgba(255, 255, 255, 0.7);
			cursor: pointer;
			transition: 0.5s;

			&.on {
				width: 150px;
				background: #555;
			}
		}
	}

	nav {
		position: absolute;
		z-index: 3;
		bottom: 9vh;
		right: 10vw;
		display: flex;
		gap: 40px;
		font-size: 20px;
		color: #fff;
		cursor: pointer;

		i {
			display: inline-block;
			transition: 0.5s;

			&:hover,
			&.on {
				transform: scale(1.8);
				color: #555;
			}
		}
	}
}

@media screen and (max-width: $tablet) {
  //visual
	#visual {
		// height: calc(100vh - 101px);
		height: 70vh;
		background: url(../img/visual/pic7.jpg) no-repeat center/cover;
		.panel {
			li {
				display: none;
			}
			.inner {
				width: 100%;
				padding: 0px 30px;
				h1 {
					font-size: 90px;
					color: #444;
				}
				p {
					font-size: 30px;
					color: #444;
				}
				a {
					// width: 30%;
					color: #444;
					font-weight: 600;
					width: 40%;
					border: 1px solid #444;
					&:hover {
						border: 1px solid #444;
						background: #444;
						color: #fff;
					}
				}
			}
		}
		.btns,
		nav {
			display: none;
		}
	}
}

@media screen and (max-width: $mobile) {
  	//visual
	#visual {
		.panel {
			.inner {
				width: 100%;
				h1 {
					font-size: 50px;
				}
				p {
					font-size: 22px;
				}
				a {
					width: 70%;
				}
			}
		}
	}
}