// design Guide
$keycolor: rgb(2, 126, 196);
$tablet: 1179px;
$mobile: 539px;

//header
#header_sub {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
	>.inner {
		
		width: 1180px;
		height: 100px;
		margin: 0 auto;
		position: relative;
		>h1 {
			position: absolute;
			left: 0;
			bottom: -4px;
			letter-spacing: 1px;
			> a {
				font-family:'Open Sans', sans-serif;
				font-size: 24px;
				color: #fff;
				transition: 0.3s;
						&:hover {
							color: $keycolor;
							transform: scale(1.2);
						}
			}
		}
		.menuWeb {
			#gnb {
				position: absolute;
				right: 0;
				bottom: 0;
				li {
					float: left;
					a {
						display: block;
						padding: 12px 18px;
						font-family:'Open Sans', sans-serif;
						font-size: 12px;
						color: rgba(255, 255, 255, 0.9);
						transition: 0.5s;
						&:hover {
							color: $keycolor;
							transform: scale(1.2);
						}
					}
				}
			}
		}
		.btnCall {
			position: absolute;
			right: 30px;
			top: 72px;
			transform: translateY(-50%); 
			display: none;
			width: 20px;
			height: 20px;
			&::before {
				content: '';
				display: block;
				width: 100%;
				height: 2px;
				background: #fff;
				position: absolute;
				top: 0;
				left: 0;
				transition: top 0.5s 0s, transform 0.5s 0.5s;
			}
			&::after {
				content: '';
				display: block;
				width: 100%;
				height: 2px;
				background: #fff;
				position: absolute;
				bottom: 0;
				left: 0;
				transition: bottom 0.5s 0s, transform 0.5s 0.5s;
			}
			span {
				display: block;
				width: 100%;
				height: 2px;
				background: #fff;
				position: absolute;
				top: 50%;
				left: 0;
				margin-top: -1px;
				transition: 1s;
				text-indent: -9999px;
			}
			&.on {
				&::before {
					top: 50%;
					margin-top: -1px;
					transform: rotate(45deg);
				}
				&::after {
					bottom: 50%;
					margin-bottom: -1px;
					transform: rotate(-45deg);
				}
				span {
					transform: translateX(100%);
					opacity: 0;
				}
			}
		}
		>.menuMo {
			width: 270px;
			height: 100vh;
			background: $keycolor;
			position: fixed; // fixed로!!
			top: 0;
			left: -270px;
			padding: 20px 30px;
			z-index: 10;
			transition: 0.5s;
			display: none;
			&.on {
				left: 0;
			}
			> h1 {
				position: relative; // 서브 타이클 로 인해 main과 설정 다름 유의 
				padding-top: 20px;
				border-bottom: 1px solid #fff;
				text-align: center;
				a {
					display: block;
					font-family:'Open Sans', sans-serif;
					font-size: 20px;
					color: #fff;
					transition: 0.5s;
					&:hover {
						color: #bcf5a9;
					}
				}
				span {
					display: block;
					padding-bottom: 20px;
					font-size: 12px;
					letter-spacing: 1px;
					color: #fff;
				}
			}
			#gnbMo {
				li {
					padding: 0px;
					a {
						display: block;
						width: 100%;
						padding: 20px 0;
						border-bottom: 1px solid rgba(255, 255, 255, 0.2);
						font-family:'Open Sans', sans-serif;
						font: 14px/1;
						color: #fff;
						text-align: center;
						transition: 0.5s;
						&:hover {
							color: #bcf5a9;
							// transform: scale(1.1);
							// overflow: hidden;
						}
					}
				}
			}
		}
	}
}

.content {
	width: 100%;
	// height: calc(100vh - 101px); //
	padding: 0 0 100px;
	.sub_visual {
		width: 100%;
		height: 250px;
		background: #bbb;
		margin-bottom: 100px;
	}
	>.inner {
		
		width: 1180px;
		margin: 0 auto;
		min-height: 500px;
		// border: 1px solid green;
		margin-bottom: 100px;
		>h1 {
			float: left;
			// border: 1px solid green;
			padding-left: 10px;
			font-size: 100px;
			font-weight: 100;
			margin-left: 0;
			text-align: left;
			color: #333;
			margin-bottom: 20px;
			font-family: 'Bebas Neue', cursive;
			
			border-top: 1px solid #333;
			p {

				font: nomal 20px/1;
				color: #aaa;
				&::before {
					content: '/';
					margin-left: 10px;
					margin-right: 20px;
				}
			}
		}
	}
}

// banner
#banner_sub {
	position: relative;
	width: 100%;
	padding: 100px 0;
	filter: grayscale(0.3);
	background: url(../img/banner/pic3.jpg) no-repeat center/cover fixed;
	.inner {
		width: 1180px;
		margin: 0 auto;
		// position: relative;
		> h1 {
			font-family: 'Open Sans', sans-serif;
			font-size: 50px;
			font-style: italic;
			color: #fff;
			text-align: center;
			margin-bottom: 10px;
		}
		p {
			font-family: 'Open Sans', sans-serif;
			font-size: 16px;
			color: #fff;
			text-align: center;
		}
		a {
			font-family: 'Open Sans', sans-serif;
			display: block;
			margin: 0 auto;
			width: 310px;
			height: 24px;
			text-align: center;
			margin-top: 50px;
			// padding: 15px 20px;
			border: 1px solid #fff;
			font-size: 14px;
			color: #fff;
			transition: 0.5s;
			&:hover {
				background: #fff;
				color: #555;
				transform: scale(1.1);
			}
		}
	}
}

//footer_sub
#footer_sub  {
	width: 100%;
	padding: 70px 0;
	background: linear-gradient(-45deg, skyblue, rgb(192, 213, 255));
	.inner {
		width: 1180px;
		margin: 0 auto;
		&::after {
			content: '';
			display: block;
			clear: both;
		}
		> h1 {
			font-family: 'Open Sans', sans-serif;
			font-size: 24px;
			color: $keycolor;
			float: left;
			padding-bottom: -50px;

		}
		ul {
			float: right;
			margin: 10;
			li {
				// policy
				float: left;
				margin: 10px;
				a {
					font-family: 'Open Sans', sans-serif;
					font-size: 13px;
					color: #fff;
				}
			}
		}
		address {
			float: left;
			width: 100%;
			font-family: 'Work Sans', sans-serif;
			font-size: 13px;
			color: #fff;
			margin-bottom: 15px;
			// margin-top: 15px;
			padding-top: 20px;
			border-top: 1px solid rgba(255, 255, 255, 0.7);
		}
		p {
			//copyright
			float: left;
			width: 100%;
			font-family: 'Work Sans', sans-serif;
			font-size: 12px;
			color:rgba(255, 255, 255, 0.9);
		}
	}
}

//tablet
@media screen and (max-width: $tablet) {
	// headeer_sub
	#header_sub {
		.inner {
			width: 100%;
			height: 100px;
			>h1 {
				left: 20px;
			}
			.menuWeb {
				display: none;
			}
			.btnCall {
				display: block;
			}
			.menuMo {
				display: block;
			}
		}
	}
	//content

	.content {
		.sub_visual{
			.inner {
				margin-top: -50px;
				>h1 {
					margin-bottom: 0px;
				}
			}
		}
	} 

	//baner
	#banner_sub {
		padding: 70px;
		.inner {
			width: 100%;
			margin: 0 auto;
			> h1 {
				width: 100%;
				font-family: 'open Sans';
				font-size: 40px;
				padding-top: 0;
				padding-bottom: 30px;
			}
		}
	}

	//footer
	#footer_sub {
		padding: 50px 30px;
		.inner {
			width: 100%;
		}
	}
}

//mobile
@media screen and (max-width: $mobile) {
	//header_sub

	//baner
	#banner_sub {
		padding: 50px;
		.inner {
			width: 100%;
			margin: 0 auto;
			> h1 {
				width: 100%;
				font-family: 'open Sans';
				font-size: 30px;
				padding-top: 0;
				padding-bottom: 20px;
			}
			p {
				font-size: 14px;
			}
		}
	}

//footer_sub
	#footer_sub {
		.inner {
			h1 {
				margin-bottom: 10px;
			}
			ul {
				width: 100%;
				li {
					margin-left: 0px;
					margin: 5px;
				}
			}
		}
	}
}



